<div class="partial">
  <img class="z-depth-5" src="./static/images/bellator.png" id="banner" alt="Bellator">
  <hr>
  <div class="bellator">

          <nav>
            <div class="nav-wrapper">
              <div class="col s12">
                <a href="#/ufc" class="breadcrumb">UFC</a>
                <a href="#/bellator" class="breadcrumb"><span class="active">Bellator</span></a>
                <a href="#/other" class="breadcrumb">Others</a>
              </div>
            </div>
          </nav>

          <div class="row">
                <div class="col s12">
                  <h3>"Bellator 153: Koreshov vs Henderson"</h3>
                </div>
                 <div class="col s6">
                     <h5>Bellator 153: Koreshov vs Henderson</h5>
                     <div class="video-container">
                        <iframe src="//vk.com/video_ext.php?oid=-75385532&id=456239751&hash=ea8dd7590632489b&hd=2" frameborder="0"></iframe>

                    </div>
                  </div>



                 <div class="col s6">
                    <h5>Bellator 153: Holloway vs Page</h5>
                    <div class="video-container">
                       <iframe src="//rutube.ru/play/embed/8464110" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                   </div>
                </div>

           </div>

          <hr>
          <div class="row">
                 <div class="col s12">
                     <h5>Bellator 153: Santos vs Ward</h5>
                     <div class="video-container">
                        <iframe src="//rutube.ru/play/embed/8464105" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                  </div>

           </div>


      <hr>

      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/ufc" class="breadcrumb">UFC</a>
            <a href="#/bellator" class="breadcrumb"><span class="active">Bellator</span></a>
            <a href="#/other" class="breadcrumb">Others</a>
          </div>
        </div>
      </nav>



  </div>
</div>
