<div class="partial">
  <img class="z-depth-5" src="./static/images/bellator.png" id="banner" alt="Bellator">
  <hr>
  <div class="bellator">

          <nav>
            <div class="nav-wrapper">
              <div class="col s12">
                <a href="#/ufc" class="breadcrumb">UFC</a>
                <a href="#/bellator" class="breadcrumb"><span class="active">Bellator</span></a>
                <a href="#/other" class="breadcrumb">Others</a>
              </div>
            </div>
          </nav>

          <div class="row">
              <div class="col s12">
                <h3>"Bellator 153: Henderson vs Koreshkov"</h3>
              </div>
               <div class="col s6">
                   <h5>Bellator 153: Henderson vs Koreshkov</h5>
                      <div class="video-container">
                         <iframe src="//rutube.ru/play/embed/8464131" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                     </div>
                </div>


             <div class="col s6">
                <h5>Bellator 153: Santos vs Ward</h5>

                <div class="video-container">
                   <iframe src="//rutube.ru/play/embed/8464105" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
               </div>
            </div>

        </div>

          <hr>
              <div class="row">
                  <div class="col s12">
                    <h3>"Bellator 149: Gracie vs Shamrock"</h3>
                  </div>
                   <div class="col s6">
                       <h5>Bellator 149: Gracie vs Shamrock</h5>
                          <video class="responsive-video" controls>
                            <source src="http://video.fight4free.com/wix/gracieshamrock3fightvideo.mp4" type="video/mp4">
                          </video>
                    </div>


                 <div class="col s6">
                    <h5>Bellator 149: Slice vs DADA 5000</h5>
                      <video class="responsive-video" controls>
                           <source src="http://video.fight4free.com/wix/kimboslicedada5000fightvideo.mp4" type="video/mp4">
                      </video>
                  </div>

              </div>

              <hr>

              <div class="row">
                <div class="col s12">
                  <h3>"Bellator 148: Daley vs Uhrich"</h3>
                </div>
                 <div class="col s6">
                     <h5>Bellator 148: Daley vs Uhrich</h5>
                        <video class="responsive-video" controls>
                          <source src="http://video.fight4free.com/wix/DaleyUhrichfight897fg98f7h98gf7h987fg9h798gf7h987fg89hhfhhfghgfhgfhf.mp4" type="video/mp4">
                        </video>
                  </div>


               <div class="col s6">
                  <h5>Bellator 148: Couture vs. Freire </h5>
                    <video class="responsive-video" controls>
                         <source src="http://video.fight4free.com/wix/couturepitbullfreire987h9gf7hgf7h98gf7h987gf98h798gf7h98f7h987fg9h7fgh.mp4" type="video/mp4">
                    </video>

              </div>


           </div>


            <div class="row">
                   <div class="col s6">
                       <h4>Bellator 148: Butler vs. Johnson </h4>
                           <video class="responsive-video" controls>
                              <source src="http://video.fight4free.com/wix/TonyJohnsonRaphaelButlerfight78fd7g89fd7g87df786g87fd6g876fd786gfdgdfdfgg.mp4" type="video/mp4">
                            </video>
                        </div>



                   <div class="col s6">
                        <h4>Bellator 148: Bradley vs. Honeycutt </h4>
                          <video class="responsive-video" controls>
                             <source src="http://video.fight4free.com/wix/PaulBradleyHoneycuttfightvideo987fd9g7df87g987dfggdfgfdfgdfgdgfdfggfgf.mp4" type="video/mp4">
                          </video>
                      </div>

               </div>


      <hr>

        <nav>
          <div class="nav-wrapper">
            <div class="col s12">
              <a href="#/ufc" class="breadcrumb">UFC</a>
              <a href="#/bellator" class="breadcrumb"><span class="active">Bellator</span></a>
              <a href="#/other" class="breadcrumb">Others</a>
            </div>
          </div>
        </nav>



  </div>
</div>
