<div class="partial">
  <img src="./static/images/chatroom.png" id="banner" alt="FanfightTalk">

  <link rel="icon"
        type="image/png"
        href="./static/images/myicon.png">

  <div class="row">
      <div class="col s12">
          <h5>Chat with other fans during the fights!:</h4>


          <iframe id="chatroom" frameborder='0' src='http://www.donamix.com/embed.php?room=1&width=800&height=600'></iframe>

          <!--Start of Tawk.to Script-->
          <script type="text/javascript">
          var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
          (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/57b8cd23311d6c5be04ce82b/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
          })();
          </script>
          <!--End of Tawk.to Script-->
      </div>
  </div>
