<div class="partial">
<img src="./static/images/chatroom.png" id="banner" alt="FanfightTalk">
 <hr>

  <div class="row">
    <div class="col s12">
        <h5>Predict, comment and more as the fights are live:</h4>
          <p id="instruction_pics">(Click <img src="./static/images/green_arrow.png" alt="click below to change username">change username where "Guest Fan" is and <img src="./static/images/minimize.png" alt="click below to change username"> to mininize it:)</p>

        <iframe id="chatroom" src="http://chat.addachat.com/?bgs=on&bg=%23b71c1c&name=Guest Fan&room=FanFightTalk&sidebar=off&format=off&images=on" name="gFrameTop"></iframe>
    </div>

  </div>

</div>
