<div class="partial">
<img src="./static/images/chatroom.png" id="banner" alt="FanfightTalk">
 <hr>

  <div class="row">
    <div class="col s12">
        <h3>Chat during the next MMA/UFC EVENT!!!</h3>
        <h4>Predict, comment and more as the fights are live:</h4>
          <p>(Change your username where "Guest Fan" is:)</p>

        <iframe id="chatroom" src="http://chat.addachat.com/?bgs=on&bg=%23b71c1c&name=Guest Fan&room=FanFightTalk&sidebar=on&format=off&images=on" name="gFrameTop"></iframe>
    </div>

  </div>

</div>
