<div class="partial">
<img src="./static/images/contactus.png" id="banner" alt="FanfightTalk">
 <hr>


  <div class="row">
      <div class="col s12 center-align"><h3><u>Feedback?<u></h3></div>


      <div class="col s6">

        <img src="./static/images/contact2.jpg" class="responsive-img" id="ourpics"  alt="Long time fans" />


        </div>
        <div class="col s6">

          <img src="./static/images/contact1.jpg" class="responsive-img" id="ourpics"  alt="Long time fans" />

        </div>
    </div>

<!--
    <div class="col s12 m4 l8">

      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Name</label>
            </div>
            <div class="input-field col s3">
              ( <i class="material-icons prefix">phone</i>
               <input id="icon_telephone" type="tel" class="validate">
               <label for="icon_telephone">Area Code</label>
            </div>
          </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="icon_prefix" class="validate"></textarea>
              <label for="icon_prefix">Message/Feedback</label>
            </div>
        </form>
      </div> -->



    <div class="row">
          <img src="./static/images/social_media.png" class="responsive-img" id="sociallogo" lt="FanfightTalk">

              <div id="social_media">
                <h5>Follow us:</h5>
                <a class="grey-text text-lighten-3" href="https://www.instagram.com/fanfighttalk/"> <img src="static/images/Instagram.png" alt="Our Instagram" /></a>
                <a class="grey-text text-lighten-3" href="https://twitter.com/fanfighttalk"><img src="static/images/tw.png" alt="Our Twitter" /></a>
                <a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/fanfighttalk/"> <img src="static/images/Facebook.png" alt="Our Facebook Group" /></a>
                <h5>Email us:</h5>
                <a class="grey-text text-lighten-3" href="https://fanfighttalk@gmail.com"> <img src="static/images/google.png" alt="Our E-mail" /></a>
              </div>
            </a>

      </div>
</div>

<hr>

 <div class="row">
   <div class="col s12"><p>
     <h5><u>We are currently looking for:</u></h5>
     <p>1. Pro MMA fighters, Black Belts, UFC fighters and reports to inteview via phone for our podcast!</p>
     <p>2. Volunteer editors/writter</p>
     <p>3. More legal media we can use, we take copyrights very seriously.</p>
     <p>4. Any videos, interviews, pictures or memes you want to send us to put on the site! Please email us and <strong>follow us!</strong></p>
   </div>
 </div>



   <div class="row" id="founders">
       <div class="col s12 m6 l3"><p>
           <h4>Stephen Popovich</h4>
           <img class="circle responsive-img" src="/static/images/Stephen.png" alt="Stephen Popovich - Co Founder">
           <ul id="aboutus">
             <li>Born: San Jose, California</li>
             <li>BS in Business Management from SJSU, 2013</li>
             <li>Fan since 2008</li>
             <li><u>Top 5 Favorite Fighters Include</u>: <b> Vitor Belfort, Michael Bisping, GSP (Georges St-Pierre), Jon Jones, and Conor McGregor</b></li>

           </ul>

        </div>

       <div class="col s12 m6 l3">
         <label for="">Twitter</label>
         <a href="https://twitter.com/anothermyspace" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @anothermyspace</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            <label for="">Instgram:</label>
            <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/7a39fbb786c65db7a13d4d9a38bc1566.html" id="lightwidget_7a39fbb786" name="lightwidget_7a39fbb786"  scrolling="no" allowtransparency="true" class="lightwidget-widget"></iframe>
        </div>
    </div>


  <div class="row" id="founders">
       <div class="col s12 m6 l3">
         <h4>Mark Popovich</h4>
          <img class="circle responsive-img" src="/static/images/mark.jpeg" alt="Mark Popovich - Co Founder">
          <ul id="aboutus">
            <li>Born: San Jose, California</li>
            <li>BS in Business Finance from SJSU, 2008</li>
            <li>Fan since 2008</li>
            <li><u>Favorite Fighters Inlude</u>: <b>Urijah Faber, Dan Henderson, GSP (Georges St-Pierre), Jon Jones, and Conor McGregor</b></li>

          </ul>

       </div>
       <div class="col s12 m6 l3">
           <label for="">Twitter:</label>
           <a href="https://twitter.com/mark_popovich" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @mark_popovich</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

           <label for="">Instgram:</label>

            <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b4ada65abd085293aed2f01154945e0c.html" id="lightwidget_b4ada65abd" name="lightwidget_b4ada65abd"  scrolling="no" allowtransparency="true" class="lightwidget-widget"></iframe>


       </div>
    </div>

   </div>

</div>
