<div class="partial">

  <img class="z-depth-5" src="./static/images/News.png" id="banner" alt="FanfightTalk News">

  <nav>
    <div class="nav-wrapper">
      <div class="col center-align s12">
        <a href="#/news" class="breadcrumb"> <span class="active">1</span></a>
        <a href="#/news1" class="breadcrumb"> 2 </a>
        <a href="#/news2" class="breadcrumb"> 3 </a>
        <a href="#/news3" class="breadcrumb"> 4 </a>
      </div>
    </div>
  </nav>


  <div class="row">
        <div class="col s12">
          <h5>Rampage and Mitrione win</h5>
        </div>
        <div class="col s6">

          <img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20160623051359_1DX_9930.JPG" border="0" alt="Satoshi Ishii (222.8) vs. Quinton Jackson (224.9)"></a><br><a href="http://www.sherdog.com">Photo by: Dave Mandel</a>
        </div>
        <div class="col s6">

          <img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20160624080724_06_mITRIONE_1DX_1827.JPG" border="0" alt="Matt Mitrione def. Carl Seumanutafa via KO (Punch) R1 3:22"></a><br><a href="http://www.sherdog.com">Photo by: Dave Mandel</a>
        </div>


        <div class="col 12">

            <p><strong>Matt mitrione's Bellator debut has started with a knockout against. Carl Seumanutafa  3:22 into round one in St. Louis on June 24th, 2016. </strong> Although, it wasn't without a close call!</p>
            <p>Seumanutafa started the fight by being aggresive and hit Mitrione with a right hook that almost ended the fight. Mitrione was able to defend and recover.</p>
            <p>Rampage headlining the Bellator 157, winning by a contraversal split decision against Satoshi Ishii. Ramapge seemed aggress at times, but tanking out towards the end. Ishii has something to prove.</p>
            <p>St. Louis. Judges’ scores were 29-28 (Sal D’Amato) and 30-27 (Robin Veale) for Jackson and 29-28 (Ross Swanberg) for Ishii.</p>
            <p>Although not impressed by Rampage's gasy irrate performance, I think both wins for Rampage and Mitrione should make for a good pay day for their envidiable long awaited match up. </p>
            <p>will Rampage and Mitrione fight soon? Is Rampage just getting too old?</p>
        </div>
    </div>

    <hr>

    <div class="row">
          <div class="col s12">
            <h5>Kimbo dies at 42.</h5>
          </div>
          <div class="col s6">

            <img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20160222011941_1DX_8757.JPG" border="0" alt="Kimbo Slice (red gloves) vs. Dhafir ‘Dada 5000’ Harris"></a><br><a href="http://www.sherdog.com">Photo by: Dave Mandel</a>
          </div>
          <div class="col s6">

            <img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20160222011937_1DX_8555.JPG" border="0" alt="Kimbo Slice (red gloves) vs. Dhafir ‘Dada 5000’ Harris"></a><br><a href="http://www.sherdog.com">Photo by: Dave Mandel</a>
          </div>


          <div class="col 12">

              <p><strong>Kevin Ferguson (Kimbo Slice) dies at the age of 42</strong> due to heart failure on Monday, June 6th, 2016.</p>
              <p>Kimbo lived in Coral Springs, Flordia. According to a Facebook post from an associate of Slice’s named Tyler Cook, the fighter’s death was related to heart problems.</p>
              <p>Born in the Bahamas Kimbo moved to Florida as a kid, Slice gained internet fame in 2003 when videos of his unsanctioned Miami street fights began to explode on YouTube and other websites.</p>
              <p>He would open his professional career record with three straight knockouts against the likes of Tank Abbott and James Thompson, but Slice’s career was derailed in October 2008 when
              <p>he suffered a shocking knockout loss to late replacement Seth Petruzelli. Kimbo was scheduled to rematch James Thompson in Bellator on July 19th in Londo. After making Thompson's ear explode on TV.</p>
              <p>RIP Kevin Ferguson aka Kimbo Slice a Legend, Pioneer and beast. You will be missed!</p>
              <p>Foul play? Was it Diet, Coaches pushing, or even Steriods? Should his coaches have taken more notice to his condtion?</p>
          </div>
      </div>


    <div class="row">
          <div class="col s12">
            <h5>Brock Lesnar is BACK!!!</h5>
          </div>

          <div class="col s6">
            <img class="responsive-img" src="http://www.product-reviews.net/wp-content/uploads/ufc-200-brock-lesnar-vs-mark-hunt.jpg" border="0" alt="Michael Bisping def. Anderson Silva via Unanimous Decision "></a><br><a href="http://www.sherdog.com">Photo by: Getty/Zuffa/UFC</a>
          </div>
          <div class="col s6">
            <img class="responsive-img" src="https://cdn0.vox-cdn.com/thumbor/93p3R8pG_7MuMdIhjzbnpKYIvjA=/0x0:2996x1997/1310x873/cdn0.vox-cdn.com/uploads/chorus_image/image/49786795/GettyImages-88985695.0.jpg" border="0" alt="Michael Bisping def. Anderson Silva via Unanimous Decision "></a><br><a href="http://www.sherdog.com">Photo by: Getty/Zuffa/UFC</a>
          </div>

          </div>
          <div class="col s12">
              <p>Brock Lesnar was announced to fight at UFC 199 during a UFC 200 promo video. Lesnar has been out of the octagon for more than 4 years.</p>
              <p>When asked why his sudden return, he stated his sickness and sugeries got in the way and he was not ready to walk away yet.</p>
              <p>Lesnar is get to fight Mark Hunt during UFC 200, which is only right since Lesnar won the Heavyweight Title against Frank Mir at UFC 100</p>
              <p>Lesnar was often critized for not being able to take a punch to the face, well Mark Hunt will be the perfect to test that theory.<p>
              <p>Is this a one time fight contract? How much is WWE making? Why did Dana kick out Ariel over leaking this story of Lesnar's return?</p>

          </div>
      </div>

      <hr>


      <div class="row">
            <div class="col s12">
              <h5>UFC 199: Bisping Wins!</h5>
            </div>

            <div class="col s6">
              <img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20160604101151_GettyImages538148360.JPG" border="0" alt="Michael Bisping def. Luke Rockhold via KO (Punches) R1 3:36"></a><br><a href="http://www.sherdog.com">Photo by: Getty/Zuffa/UFC</a>
            </div>

            <div class="col s6">
                <img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20160604114245_5D3_5086.JPG" border="0" alt="Michael Bisping and Urijah Faber"></a><br><a href="http://www.sherdog.com">Photo by: Dave Mandel</a>
            </div>

            <div class="col s12">
              <p>Micheal Bisping has been battling for his "destiny" for over nine years in the UFC octagon to achive gold.</p>
                <p>Not only did Bisping take the fight with less than a three week notice, but called Rockhold's KO in the first round.</p>
                <p>Not only did Bisping achive his "destiny" but is offically the first UK UFC champion!</p>
                <p>Can Bisping keep the belt? Should Rockhold get an immediate rematch? </p>
            </div>
        </div>

        <hr>



          <div class="messages">
            <div class="message" ng-repeat="message in messages">

              <strong>
                <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
                <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
              </strong>
              <p ng-bind="message.message"></p>

              <div class="comments" style="margin-left: 35px">
                <div ng-repeat="comment in message.comments">
                  <strong>
                    <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                    <span ng-bind="comment.created_at | date"></span>
                  </strong>
                    <p ng-bind="comment.comment"></p>
                </div>

                <label for="">Post a commnet:</label>
                <textarea ng-model="newComment.comment"></textarea>
                <button ng-click="postComment(newComment, message)" class="waves-effect waves-red btn"><i class="material-icons left">chat_bubble_outline</i>Post a Comment</button>

              </div>

          </div>
        </div>

      </div>


      <nav>
        <div class="nav-wrapper">
          <div class="col center-align s12">
            <a href="#/news" class="breadcrumb"> <span class="active">1</span></a>
            <a href="#/news1" class="breadcrumb"> 2 </a>
            <a href="#/news2" class="breadcrumb"> 3 </a>
            <a href="#/news3" class="breadcrumb"> 4 </a>
          </div>
        </div>
      </nav>



            <div class="row">
              <div class="col s3">

                <p><span ng-show="login.username.$error.maxlength">
                      Cannot be longer than 20 characters!
                </span></p>

                <p><span ng-show="login.userzipcode.$error.maxlength">
                      Cannot be longer than 3 digits!
                </span></p>

                <p><span ng-show="login.username.$error.pattern">
                      Username can only contain letters and numbers or underscores, no other special characters allowed.
                </span></p>

              </div>

              </div>

                <div class="row">

                      <h6 class="pickuser">Pick an Username and Areacode to comment below!</h6>

                      <form class="login" ng-submit="loginUser(newUser)" novalidate name="login">
                        <div class="input-field col m6 s12">
                          <i class="mdi-action-account-circle prefix"></i>
                          <input id="icon_prefix" type="text" class="validate"  ng-trim="false" ng-model="newUser.name" ng-pattern="/^[a-zA-Z0-9_]*$/" name="username" ng-maxlength="25" required>
                          <label for="icon_prefix">Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                          <i class="mdi-maps-store-mall-directory prefix"></i>
                           <input id="icon_room" type="tel" class="validate" ng-trim="false" ng-model="newUser.zipcode" ng-pattern="/^[a-zA-Z0-9_]*$/" name="userzipcode" ng-maxlength="3" required>
                          <label for="icon_room">Area code</label>
                          <button ng-show="login.$valid" class="waves-effect waves-red btn"><i class="material-icons left">vpn_key</i>Log in</button>
                        </div>
                      </form>


                </div>


                <hr>

        <div class="row">
            <div class="comment_header">
              <div class="col s12">
                <h5> "Discuss, argue and predict upcoming fights!"</h5>
                <img src="./static/images/comments.png">
              </div>

            </div>
          </div>
          <hr>

          <div class="messages"  ng-controller="WallController">
            <div class="message" ng-repeat="message in messages">
            <hr>
              <strong>
                <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
                <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
              </strong>
              <p ng-bind="message.message"></p>

              <div class="comments">
                <div ng-repeat="comment in message.comments">
                  <strong>
                    <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                    <span ng-bind="comment.created_at | date"></span>
                  </strong>
                    <p ng-bind="comment.comment"></p>
                </div>

              </div>


              </div>

          </div>

    </div>
