<div class="partial">

  <img class="z-depth-5" src="./static/images/News.png" id="banner" alt="FanfightTalk News">

  <nav>
    <div class="nav-wrapper">
      <div class="col center-align s12">
        <a href="#/news" class="breadcrumb"> <span class="active">1</span></a>
        <a href="#/news1" class="breadcrumb"> 2 </a>
        <a href="#/news2" class="breadcrumb"> 3 </a>
        <a href="#/news3" class="breadcrumb"> 4 </a>
      </div>
    </div>
  </nav>




        <div class="row">
              <div class="col s12">
                <h5>UFC 200: Jones Vs. DC</h5>
              </div>

              <div class="col s6">
                  <img src="http://i226.photobucket.com/albums/dd295/j0ey_559/Mobile%20Uploads/Screenshot_2015-01-02-20-50-35-1.png" alt="" />
              </div>
              <div class="col s6">
                  <img src="http://i.dailymail.co.uk/i/pix/2016/04/27/14/3396A32500000578-3561563-Daniel_Cormier_left_will_fight_Jon_Jones_right_at_UFC_200_replac-a-140_1461764507212.jpg" alt="" />
              </div>
              <div class="col s12">
                  <p>Dana White recently announced on Good Morning America, who would be replacing McGregor and Diaz at UFC200.</p>
                  <p>Many fans were shocked by the quick turn around Jon Jones is willing to take to get "the real belt" back.</p>
                  <p><span class="quote">“I don't want that, I want my belt."</span> After Jon Jones flipped DC off after his fight against OSP, the hate between them as only risen.</p>
                  <p>Jones and DC long rivalry seemed to bring out something unpredictable in Jon "Bones" Jones.</p>
                  <p>Are you satisied with UFC 200's card?</p>
              </div>
          </div>

          <hr>


        <div class="row">
              <div class="col s12">
                <h5>Things Heat Up Between Jones vs. DC at UFC197</h5>
              </div>
              <div class="col s9">
                <p> Jones after winning his fight at UFC197<p>
                  <div class="video-container">
                    <iframe src="https://www.youtube-nocookie.com/embed/1wrp_GVPQJA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>

              <div class="col s12">
                <p><strong>Jon Jones beats OSP in a unamious decision,</strong> as he leaves he makes sure Daniel Cormier (DC) knows he is next and flips him off live on PPV!</p>
                  <p>DC brushes it off as he still sits in the commentatory box, but looks a bit worried. He seemed in good health while commentating his future opponents fight during UFC197.</p>
                    <p>Jones has gone on reach to say he is skeptical of DC's leg injury. The future is unclear of both fighters, but the hate is real between these two.</p>
                    <p>A rematch we will continue to wait for, but will definately be worth the wait. Who will win? Will DC stay healthy? Will Jones stay out of trouble til then?<p>
          </div>

            <hr>

        <div class="row">
            <div class="col s12">
              <h3>UFC 200 press conference</h3>
            </div>

            <div class="col s10">
              <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/QCsNAye8AdY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

            <div class="col s12">
              <p><strong>Conor McGregor, UFC 200 and alot of questions</strong> sums up UFC200's first press conference.</p>
              <p>Diaz has only one thing to say to Conor as Conor tweeted live during the conference:</p><span class="quote">“Conor got his ass beat.”</span>
              <p>Diaz reminds everyone why he's "Stockton's Bad Boy", keeping the trash talk short and sweet.</p>
              <p>Diaz goes on to say he is here to fight McGregor and McGreogr only, if not he will go on vacation, one he can easily offered after his win.</p>
              <p>There were boos, pleads and countless people trying to conivce Dana to let up and give the fans what they want, A FIGHT!</p>
              <p>Dana White continued to stay by his word of pulling Conor for the epic event, leaving an empty seat where Diaz next opponent should be.</p>
              <p>Where is Diaz going on vacation? Is this all just for press and free promoting? Would you want to be Dana White right now?</p>
            </div>
          </div>





          <div class="messages">
            <div class="message" ng-repeat="message in messages">

              <strong>
                <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
                <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
              </strong>
              <p ng-bind="message.message"></p>

              <div class="comments" style="margin-left: 35px">
                <div ng-repeat="comment in message.comments">
                  <strong>
                    <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                    <span ng-bind="comment.created_at | date"></span>
                  </strong>
                    <p ng-bind="comment.comment"></p>
                </div>

                <label for="">Post a commnet:</label>
                <textarea ng-model="newComment.comment"></textarea>
                <button ng-click="postComment(newComment, message)" class="waves-effect waves-red btn"><i class="material-icons left">chat_bubble_outline</i>Post a Comment</button>

              </div>

          </div>
        </div>

      </div>


      <nav>
        <div class="nav-wrapper">
          <div class="col center-align s12">
            <a href="#/news" class="breadcrumb"> <span class="active">1</span></a>
            <a href="#/news1" class="breadcrumb"> 2 </a>
            <a href="#/news2" class="breadcrumb"> 3 </a>
            <a href="#/news3" class="breadcrumb"> 4 </a>
          </div>
        </div>
      </nav>



            <div class="row">
              <div class="col s3">

                <p><span ng-show="login.username.$error.maxlength">
                      Cannot be longer than 20 characters!
                </span></p>

                <p><span ng-show="login.userzipcode.$error.maxlength">
                      Cannot be longer than 3 digits!
                </span></p>

                <p><span ng-show="login.username.$error.pattern">
                      Username can only contain letters and numbers or underscores, no other special characters allowed.
                </span></p>

              </div>

              </div>

                <div class="row">

                      <h6 class="pickuser">Pick an Username and Areacode to comment below!</h6>

                      <form class="login" ng-submit="loginUser(newUser)" novalidate name="login">
                        <div class="input-field col m6 s12">
                          <i class="mdi-action-account-circle prefix"></i>
                          <input id="icon_prefix" type="text" class="validate"  ng-trim="false" ng-model="newUser.name" ng-pattern="/^[a-zA-Z0-9_]*$/" name="username" ng-maxlength="25" required>
                          <label for="icon_prefix">Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                          <i class="mdi-maps-store-mall-directory prefix"></i>
                           <input id="icon_room" type="tel" class="validate" ng-trim="false" ng-model="newUser.zipcode" ng-pattern="/^[a-zA-Z0-9_]*$/" name="userzipcode" ng-maxlength="3" required>
                          <label for="icon_room">Area code</label>
                          <button ng-show="login.$valid" class="waves-effect waves-red btn"><i class="material-icons left">vpn_key</i>Log in</button>
                        </div>
                      </form>


                </div>


                <hr>

        <div class="row">
            <div class="comment_header">
              <div class="col s12">
                <h5> "Discuss, argue and predict upcoming fights!"</h5>
                <img src="./static/images/comments.png">
              </div>

            </div>
          </div>
          <hr>

          <div class="messages"  ng-controller="WallController">
            <div class="message" ng-repeat="message in messages">
            <hr>
              <strong>
                <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
                <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
              </strong>
              <p ng-bind="message.message"></p>

              <div class="comments">
                <div ng-repeat="comment in message.comments">
                  <strong>
                    <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                    <span ng-bind="comment.created_at | date"></span>
                  </strong>
                    <p ng-bind="comment.comment"></p>
                </div>

              </div>


              </div>

          </div>

    </div>
