<div class="partial">
<img class="z-depth-5" src="./static/images/News.png" id="banner" alt="FanfightTalk">
    <hr>
        <nav>
          <div class="nav-wrapper">
            <div class="col s12">
              <a href="#/news" class="breadcrumb">First Page</a>
              <a href="#/news2" class="breadcrumb">Second Page</a>
              <a href="#/news3" class="breadcrumb">Third Page</a>
            </div>
          </div>
        </nav>

    <hr>

        <div class="row">
            <div class="col s12">
              <h3>Conor's side of the story</h3>
            </div>
            <div class="col s6">
              <h3>Part 1:</h3>
              <img src="./static/images/part1.jpg" class="responsive-img" alt="Conor's Statement Part 1">
              <h3>Part 2:</h3>
              <img src="./static/images/part2.jpg" class="responsive-img" alt="Conor's Statemtn Part 2">
            </div>
            <div class="col s6">
              <p><strong>Conor gives us some clarity, kind of...</strong> The UFC champion posted the statement above on Thusrday, April 21st.</p>
              <p>Conor will always be a fighter and that is what he got into this business to do. Fighters dont always like the spotlight,</p>
              <p>let alone the endless press campaigns. Nate Diaz responses again to Conor's social statement, with this tweet:</p>
              <img src="./static/images/diaztweet.png" class="responsive-img" alt="Nate Diaz's mocking tweet">
              <p>Diaz mocking Conor for his instagram post he posted after winning against Aldo and everyone was calling out Conor.</p>
              <p>The Diaz's are known for their dislike of media and promoting, yet Nate still showed up.</p>
              <p>Dana White is in a tough situation, if you give into on fighter's demands you will have to give into alot more...</p>
            </div>
          </div>

        <hr>


        <div class="row">
            <div class="col s12">
              <h3>More Money? Rematch? Now McCgregor vs Diaz both retiring???</h3>
            </div>
            <div class="col s8">
              <img src="./static/images/tweet2.png" border="0" alt="Conor's crazy tweet">
              <p>Conor McGregor Tweet on April 19th, 2016 at 11:29am. Trolling? Bullshit? or is he looking out for his health?</p>
              <img src="./static/images/tweet3.png" border="0" alt="Nate's tweet">
              <p>Nate Diaz talking retirement too, which is more believe since his long history in the sport.</p>
              <img src="./static/images/tweet4.png" border="0" alt="Coach's tweet">
              <p>John Kavanagh (Conor's main coach) further confirms with this tweet.</p>
            </div>
            <div class="col s4">
              <p><strong>Conor McGregor made the internet go crazy,</strong> with simply just one tweet that caused a chain reaction!</p>
              <p>Conor McGregor tweets on April 19th, 2016 at 11:29am announces his retirment out of seemingly no where?</p>
              <p>Options: He is just playing and trying to cause more talk, it was a contract/money issue,he is thinking about his long time health effects, or wants to go out on top of the bank.</p>
              <p>Dana White addresses the side on the reason Conor was pulled from UFC:200</p>
                 <div class="video-container">
                   <iframe  src="https://www.youtube-nocookie.com/embed/XIK1RN7ZH5g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                 </div>
            </div>
          </div>

      <hr>


        <div class="row">
            <div class="col s12">
              <h3>Bellator London (158): Kimbo vs Thompson and Daley vs Koscheck</h3>
            </div>
            <div class="col s6">
              <img src="./static/images/bellatorlondon.png" class="responsive-img" alt="Bellator: London">
                <div class="video-container">
                      <iframe src="https://www.youtube-nocookie.com/embed/dKAL8YyoqQ8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col s6">
              <p><strong>Bellator at is again!</strong> Rematch season is in full swing, both headliners events for Bellator London will be two historical rematches.</p>
              <p>Co main event is Daley vs Koscheck, last time they were in the octogan Daley famoulsy his Koscheck after the last round bell rang, resulting in Daley's termination from the UFC</p>
              <p> Main event is Kimbo vs Thompson, Kimbo literally made Thompson's ear explode in 2008 the early stages of Kimbo's proffesional MMA career.</p>
              <p>Bellator continueing to putting together entertaining cards. Will histroy rewrite itself or will it be a nightmare relived? </p>
              <p>After Kimbos last performance and holes in his ground game, the outcoming is unpredictable.</p>
            </div>
          </div>

        <hr>

        <div class="row">
            <div class="col s12">
              <h3>Dan Henderson reschedueled for UFC 199!</h3>
            </div>
            <div class="col s6">
              <a href="http://www.sherdog.com"><img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20160319101820_GettyImages516613140.JPG" class="responsive-img" alt="Neil Magny def. Hector Lombard via TKO (Punches) R3 0:46"></a><br><a href="http://www.sherdog.com">Photo by: Getty/Zuffa/UFC</a>
            </div>
            <div class="col s6">
              <p><strong>UFC promised us Dan Henderson and they delivered!</strong> Dan Henderson is set to fight Hector Lombard! </p>
              <p>Great reschedule and good test of the ages for Dan. Dan like always is ready to fight whoever whereever!</p>
              <p>Will winning or losing determine if he retires after this fight?</p>
            </div>
          </div>

        <hr>


          <nav>
            <div class="nav-wrapper">
              <div class="col s12">
                <a href="#/news" class="breadcrumb">First Page</a>
                <a href="#/news2" class="breadcrumb">Second Page</a>
                <a href="#/news3" class="breadcrumb">Third Page</a>
              </div>
            </div>
          </nav>


          <div class="messages">
            <div class="message" ng-repeat="message in messages">
            <hr>
              <strong>
                <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
                <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
              </strong>
              <p ng-bind="message.message"></p>

              <div class="comments" style="margin-left: 35px">
                <div ng-repeat="comment in message.comments">
                  <strong>
                    <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                    <span ng-bind="comment.created_at | date"></span>
                  </strong>
                    <p ng-bind="comment.comment"></p>
                </div>

                <label for="">Post a commnet:</label>
                <textarea ng-model="newComment.comment"></textarea>
                <button ng-click="postComment(newComment, message)" class="waves-effect waves-red btn"><i class="material-icons left">chat_bubble_outline</i>Post a Comment</button>

              </div>

          </div>
        </div>

      </div>


            <div class="row">
              <div class="col s3">

                <p><span ng-show="login.username.$error.maxlength">
                      Cannot be longer than 20 characters!
                </span></p>

                <p><span ng-show="login.userzipcode.$error.maxlength">
                      Cannot be longer than 3 digits!
                </span></p>

                <p><span ng-show="login.username.$error.pattern">
                      Username can only contain letters and numbers or underscores, no other special characters allowed.
                </span></p>

              </div>

              </div>

                <div class="row">

                      <p class="pickuser">Pick a username and areacode to comment below!</p>

                      <form class="login" ng-submit="loginUser(newUser)" novalidate name="login">
                        <div class="input-field col s3">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="icon_prefix" type="text" class="validate"  ng-trim="false" ng-model="newUser.name" ng-pattern="/^[a-zA-Z0-9_]*$/" name="username" ng-maxlength="25" required>
                          <label for="icon_prefix">Name/Username</label>
                        </div>
                        <div class="input-field col s3">
                          <i class="material-icons prefix">phone</i>
                           (<input id="icon_room" type="tel" class="validate" ng-trim="false" ng-model="newUser.zipcode" ng-pattern="/^[a-zA-Z0-9_]*$/" name="userzipcode" ng-maxlength="3" required> )
                          <label for="icon_room">Area code</label>
                          <button ng-show="login.$valid" class="waves-effect waves-red btn"><i class="material-icons left">vpn_key</i>Log in</button>
                      </form>
                        </div>

                </div>


                <hr>

        <div class="row">
            <div class="comment_header">
              <div class="col s12">
                <h3> "Discuss, argue and predict the fate of upcoming fighters!"</h3>
                <img src="./static/images/comments.png">
              </div>

            </div>
          </div>
          <hr>

          <div class="messages"  ng-controller="WallController">
            <div class="message" ng-repeat="message in messages">
            <hr>
              <strong>
                <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
                <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
              </strong>
              <p ng-bind="message.message"></p>

              <div class="comments" style="margin-left: 25px">
                <div ng-repeat="comment in message.comments">
                  <strong>
                    <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                    <span ng-bind="comment.created_at | date"></span>
                  </strong>
                    <p ng-bind="comment.comment"></p>
                </div>

              </div>


              </div>


          </div>

        </div>
