<div class="partial">

  <img class="z-depth-5" src="./static/images/News.png" id="banner" alt="FanfightTalk News">


    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="#/news" class="breadcrumb">Page 1</a>
          <a href="#/news2" class="breadcrumb">Page 2</a>
          <a href="#/news3" class="breadcrumb">Page 3</a>
        </div>
      </div>
    </nav>

      <div class="row">
          <div class="col s12">
            <h6>Legends Chuck Liddell and Forrest Griffin to Coach ‘TUF: Latin America’ Season 3</h6>
          </div>

          <div class="col s10">


            <a href="http://www.sherdog.com"><img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20141205071945_IMG_1560.JPG" class="responsive-img" alt="Chuck Liddell"></a><br><a href="http://www.sherdog.com">Photo by: Jeff Sherwood</a>
          </div>
          <div class="col s12">
            <p><strong>UFC Hall of Famers Chuck Liddell and Forrest Griffin</strong> will serve as opposing coaches on the upcoming third season of “The Ultimate Fighter: Latin America,” UFC announced on April, 11th.</p>
            <p>“TUF: LATAM 3” will be the first season of the reality show to film in Argentina, with production slated to begin in Buenos Aires in late spring. The season premieres in August and will be streamed via UFC Fight Pass in the U.S.</p>
            <p> Canal 5 will broadcast the show in Mexico, with 14 additional networks airing the series throughout Latin America.</p>
            <p>UFC will return to Mexico City for a Nov. 5 event which will feature the final round of the season-long “TUF: LATAM 3” tournament. </p>
            <p>Weight classes and competitors for the series have not been announced; male and female fighters from all weight classes were invited to compete at the January tryouts.</p>
            <p>Former UFC light heavyweight champions Liddell and Griffin are no strangers to “The Ultimate Fighter”, Both being coaches before (TUF Season 1 and TUF Season 7)</p>
            <p>The future of the show is unclear, since it seems that another set of UFC coaches will not fight at the end of the season. A major original lure of the show.</p>
            <p>Whether the fight happens or not, fighters come out of retirement and everyone would like to see these two legends at it one last time.</p>
          </div>
        </div>

    <hr>


      <div class="row">
          <div class="col s12">
            <h6>Frank Mir fails USADA drug test, blame Kangaroo meat</h6>
          </div>

          <div class="col s9">

            <a href="http://www.sherdog.com"><img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20130829023018_5D3_2467.JPG" class="responsive-img" alt="Frank Mir"></a><br><a href="http://www.sherdog.com">Photo Credit: Dave Mandel</a>
          </div>
          <div class="col s12">
            <p><strong>Former UFC heavyweight champion Frank Mir,</strong> said on his Phone Booth Fighting podcast on April 9th that he would more than likely retire if he is suspended two years by USADA for failing a drug test.</p>
            <p>Mir says he indeed did test positive for anabolic steroid metabolites and is now facing a two-year suspension from USADA.</p>
            <p><span class="quote">"That was probably my last time fighting," Mir said. ... "I don't see any other way around it. Age is catching up to me now. I'm not gonna get any younger in the next two years." </span></p>
            <p>Mir, 36 years old, said USADA found a small trace of an oral turinabol metabolites in his system in relation to his fight with Mark Hunt at UFC Fight Night 85 in Brisbane, Australia.</p>
            <p>During the 65-minute podcast Mir offers no real explanation as to the source of the metabolites, except for <span class="quote"> “maybe it was kangaroo or crocodile meat,” </span> spending most of the podcast why it simply didn’t make sense for him to take PEDs.</p>
            <p>The fight took place March 19th, 2016 and Mir lost via first-round KO, he had never failed a drug test in his 15-year UFC career until now. Peds continues to a big problem to the MMA world,</p>
            <p>even with stricter rules and more random testing. Who's next? </p>
          </div>
        </div>

      <hr>

      <div class="row">
          <div class="col s12">
            <h4>UFC 200</h4>
          </div>

          <div class="col s10">

            <img src="/static/images/UFC_200.png" class="responsive-img" alt="UFC 200 line up" />
          </div>
          <div class="col s12">
            <p><strong>UFC 200 is on!</strong> Rematch! Will Conor McGregor redeem his loss against the "Stockton Badboy"? </p>
            <p>Jose Aldo another champion looking to redeem himself after losing to the main cards Conor Mcgregor in the first round.</p>
            <p>Misha Tate will have her first test to defend her title, win or lose she will most likely see Ronda again. </p>
            <p>Cain Velasquez has an opportunity to remind fans of his true power, gonna be a great card. UFC did not disappoint on this one!</p>
            <p>Diego Sanchez an entertaining fighter and long time veteran is looking for a well needed win.</p>
            <p>Lastly, looking forward to see in young Sage Northcutt back in action, will he continue his striking power or was in beginners luck?</p>
            <p>Who do you think will come with a win?</p>
          </div>
        </div>

        <div class="row">
              <div class="col s12">
                <h6>Jon Jone's introuble with the law again.</h6>
              </div>
              <div class="col s6">
                <p> Jones Getting Pulled over <p>
                  <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/cDzPJcI8nGY" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>

              <div class="col s6">
                  <p>Jones in Court<p>
                  <div class="video-container">
                    <iframe src="https://www.youtube-nocookie.com/embed/5No9zYLE9OU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
              <div class="col s12">
                <p ><strong>Jon Jones</strong> in trouble with the law again, after a recent citation for "drag racing". Jon Jones is still on probation after his car accident</p>
                  <p>which resulted, in him being suspended and stripped of the UFC light heavy weight champion for a year. Wether it is bad luck, bad timing or just plain </p>
                    <p> bad decisions one thing is clear, Jones not longer is aiming to be the perfect role model. Will his head be clear for UFC 192? Will Jones keep getting in his own way...</p>
                    <p>Jones accept the plea deal and the curfew was not implemented.</p>
              </div>
          </div>

          <nav>
            <div class="nav-wrapper">
              <div class="col s12">
                <a href="#/news" class="breadcrumb">Page 1</a>
                <a href="#/news2" class="breadcrumb">Page 2</a>
                <a href="#/news3" class="breadcrumb">Page 3</a>
              </div>
            </div>
          </nav>


      <div class="messages">
        <div class="message" ng-repeat="message in messages">
          <strong>
            <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
            <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
          </strong>
          <p ng-bind="message.message"></p>

          <div class="comments" style="margin-left: 35px">
            <div ng-repeat="comment in message.comments">
              <strong>
                <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                <span ng-bind="comment.created_at | date"></span>
              </strong>
                <p ng-bind="comment.comment"></p>
            </div>

            <label for="">Post a commnet:</label>
            <textarea ng-model="newComment.comment"></textarea>
            <button ng-click="postComment(newComment, message)" class="waves-effect waves-red btn"><i class="material-icons left">chat_bubble_outline</i>Post a Comment</button>

          </div>

      </div>

    </div>

</div>
