<div class="partial">

  <img class="z-depth-5" src="./static/images/News.png" id="banner" alt="FanfightTalk News">


    <nav>
      <div class="nav-wrapper">
        <div class="col center-align s12">
          <a href="#/news" class="breadcrumb"> 1 </a>
          <a href="#/news1" class="breadcrumb"> 2 </a>
          <a href="#/news2" class="breadcrumb"><span class="active"> 3 <span></a>
          <a href="#/news3" class="breadcrumb"> 4 </a>
        </div>
      </div>
    </nav>


    <div class="row">
          <div class="col s12">
            <h6>Lyoto Machida fails USADA drug test pulled from UFC on Fox 19 Bout</h6>
          </div>

          <div class="col s6">
              <p>Can you tell hes on supplement 7-Keto?</p>
                <a href="http://www.sherdog.com"><img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20150626052021_IMG_06871_dragged.JPG"  class="responsive-img" alt="Lyoto Machida"></a><br><a href="http://www.sherdog.com">Photo by: Jesse Denis</a>
          </div>

          <div class="col s6">
            <p> Hendo isn't getting any younger... <p>
              <a href="http://www.sherdog.com"><img src="http://www2.cdn.sherdog.com/_images/pictures/20130216101017_IMG_0058.JPG" class="responsive-img" alt="Hendo relaxing"></a><br><a href="http://www.sherdog.com">Photo by: Jesse Denis</a>
          </div>

          <div class="col s12">
              <p><strong>Lyoto Machida</strong> was the middleweight co-main event of UFC on Fox 19 against Dan Henderson, but  has been removed from the card after Machida admitted to using a banned substance.</p>

                  <p>UFC released a statement on April 10th:<p>
                  <p><span class="quote">“Machida stated that he was unaware that the substance was prohibited both in and out of competition and, in accordance with the UFC Anti-Doping Policy, his disclosure of usage will be taken into consideration by USADA during any potential results management and adjudication process”</span></p>
                  <p>Lyoto released statement on April 13th:<p>
                  <p><span class="quote">I'm here to tell you that I was caught by surprise by this news. It has been very difficult for me. I've trained a lot for this fight, I've dedicated a lot with all my teammates,” Machida wrote. “I want to tell you that I really didn't know about this substance,</span></p>
                  <p><span class="quote">so I listed it on my declaration form amongst everything else I was taking, and this substance was recently banned in 2016, so I take the blame for not knowing that, and I'd like to say I'm really sorry and apologize to my fans, teammates, and my family... I always try to play by the book, but unfortunately this happened.”</span></p>
                  <p>Machida has lost three of his last four UFC fights, including a third-round technical knockout defeat to Yoel Romero at UFC Fight Night in Hollywood, Fla., this past June. He previously defeated Dan Henderson via split decision at UFC 157 in February 2013.</p>
          </div>
            <div class="col s11">
                <p>Dan Henderson had this to say about his opponent: </p>
                  <img src="/static/images/tweet1.png" alt="" />
            </div>
      </div>



    <div class="row">
          <div class="col s12">
            <h6>Conor Mcgregor's Teamate kills Joao “Rafeiro” Carvalho in Dublin match</h6>
          </div>
          <div class="col s6">
            <p> The Fight Video <p>
              <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/Lp0brVc1094?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>


          <div class="col s6">
              <p>Joao “Rafeiro” Carvalho<p>
                <img src="http://static.globalnoticias.pt/storage/DN/2016/dn2015_detalhe_topo/ng6468467.jpg"  class="responsive-img" alt="Joao “Rafeiro” Carvalho"></a>
          </div>
          <div class="col s12">
            <p ><strong>Portuguese welterweight Joao “Rafeiro” Carvalho has died after suffering a knockout loss at an MMA event in Dublin over the weekend.</strong></p>
              <p>Carvalho was stopped by Charlie Ward (Cono Mcgregor's teammate) in the third round of the fight at an April 9th event promoted by Irish organization Total Extreme Fighting (TEF).</p>
                <p>TEF on Tuesday issued a statement via Facebook describing the aftermath of Carvalho’s bout.TEF stated that Carvalho passed away Monday night <span class="quote"> “after [two] days of the best medical care and treatment in Beaumont Hospital."</spam></p>
                <p>Carvalho’s coach, Vitor Nobrega said in a written statement:<p>
                <p><span class="quote">“He was assessed immediately by the on-site medical team, and then quickly transported to Beaumont Hospital, where he underwent brain surgery, after which the athlete remained in critical condition for the next 48 hours.”</span></p>
                <p>Our thoughts and prayers go out to Joao Carvalho's family, friends and teammates...MMA is a dangerous sport and each every fighter understand this before stepping in the cage. This will not stop the growth of this sport, but may slow it.</p>
          </div>
      </div>

        <hr>

    <div class="row">
        <div class="col s12">
          <h4>BJ PEN is BACK! Fighting at UFC 199</h4>
        </div>

        <div class="col s10">

          <a href="http://www.sherdog.com"><img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/6/5940.jpg" class="responsive-img" alt="BJ Penn"></a><br><a href="http://www.sherdog.com">Photo by: Jeff Sherwood</a>
        </div>
        <div class="col s12">
          <p><strong>Legend BJ Penn,</strong> Promotion officials announced on April 12th, that Penn will throw down with Dennis Siver in on the June 4th at the The Forum in Los Angeles on PPV.</p>
          <p>UFC 199 is headlined by a middleweight title rematch pitting Luke Rockhold against Chris Weidman. Penn’s return is reported to have been delayed due to an accusation of sexual assault.</p>
          <p><span class="quote">“We have taken a look at the available facts, which aren't too substantial, and there are two stories of what happened.”</span> - Lawrence Epstein (UFC's chief operating officer) told Yahoo Sports.</p>
          <p><span class="quote">“To date, there has no action at all taken by any law enforcement agency. We decided to allow B.J. to fight. However, we are going to continue to monitor to the situation. If new information,</p>
          <p><span class="quote"> more information, becomes available to us, obviously, we reserve the right to reevaluate.”</p>
          <p>Penn recently announced that he was coming out of retirement and would train with Greg Jackson in Albuquerque, N.M. Penn fought professionally since “The Ultimate Fighter 19” finale, where he suffered a third-round TKO</p>
          <p>loss to Frankie Edgar. The 37-year-old Hawaiian has won just one of his last seven Octagon appearances. Dennis Siver will be a fair matcha and hopefully Penn can end his legendary career with a win.</p>
        </div>
      </div>


      <nav>
        <div class="nav-wrapper">
          <div class="col center-align s12">
            <a href="#/news" class="breadcrumb"> 1 </a>
            <a href="#/news1" class="breadcrumb"> 2 </a>
            <a href="#/news2" class="breadcrumb"><span class="active"> 3 <span></a>
            <a href="#/news3" class="breadcrumb"> 4 </a>
          </div>
        </div>
      </nav>


        <div class="messages">
          <div class="message" ng-repeat="message in messages">
            <strong>
              <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
              <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
            </strong>
            <p ng-bind="message.message"></p>

            <div class="comments" style="margin-left: 35px">
              <div ng-repeat="comment in message.comments">
                <strong>
                  <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                  <span ng-bind="comment.created_at | date"></span>
                </strong>
                  <p ng-bind="comment.comment"></p>
              </div>

              <label for="">Post a commnet:</label>
              <textarea ng-model="newComment.comment"></textarea>
              <button ng-click="postComment(newComment, message)" class="waves-effect waves-red btn"><i class="material-icons left">chat_bubble_outline</i>Post a Comment</button>

            </div>

        </div>
      </div>

    </div>

</div>
