<div class="partial">
    <img class="z-depth-5" src="./static/images/News.png" id="banner" alt="FanfightTalk News">


    <nav>
      <div class="nav-wrapper">
        <div class="col center-align s12">
          <a href="#/news" class="breadcrumb"> <span class="active">1</span></a>
          <a href="#/news1" class="breadcrumb"> 2 </a>
          <a href="#/news2" class="breadcrumb"> 3 </a>
          <a href="#/news3" class="breadcrumb"> 4 </a>
        </div>
      </div>
    </nav>

    <div class="row">
          <div class="col s12">
            <h5>UFC 200: Jones Vs. DC 2</h5>
          </div>

          <div class="col s6">
              <img src="https://i.ytimg.com/vi/LYPTNSmEhco/maxresdefault.jpg" alt="" />
          </div>
          <div class="col s6">
              <img src="http://cnnphilippines.com/incoming/npxsgx-Jon-Jones-Cormier-CNNPH.jpg/alternates/FREE_640/Jon-Jones-Cormier-CNNPH.jpg" alt="" />
          </div>
          <div class="col s12">
              <p>Dana White recently announced on Good Morning America, the main event would be replacing McGregor and Diaz at UFC200.</p>
              <p>Many fans were shocked by the quick turn around Jon Jones is willing to take to get "the real belt" back.</p>
              <p><span class="quote">“I don't want that, I want my belt."-Jon Jones</span> After Jon Jones flipped DC off after his fight against OSP, the hate between them has only risen.</p>
              <p>Jones and DC long rivalry seemed to bring out something unpredictable in Jon "Bones" Jones.</p>
              <p>Are you satisified with UFC 200's card?</p>
          </div>
      </div>

      <hr>


    <div class="row">
          <div class="col s12">
            <h5>Things Heat Up Between Jones vs. DC at UFC197</h5>
          </div>
          <div class="col s9">
            <p> Jones after winning his fight at UFC197<p>
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/rX5ECnUwwok" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>

          <div class="col s12">
            <p><strong>Jon Jones beats OSP in a unamious decision,</strong> as he leaves the octagon Jones makes sure Daniel Cormier (DC) knows he is next and flips him off live on PPV!</p>
              <p>DC brushes it off as he still sits in the commentatory table, but looks a bit worried. Cormier seemed in good health while commentating his future opponents fight during UFC197</p>
                <p> and ready to fight. Jones has gone on record to say he is skeptical of DC's leg injury. The future is unclear of both fighters, but the hate is real between these two.</p>
                <p>A rematch we will continue to wait for, but will definately be worth the wait! Who will win? Will DC stay healthy enough to fight? Will Jones stay out of trouble long to fight?<p>
      </div>

        <hr>

    <div class="row">
        <div class="col s12">
          <h3>UFC 200 press conference</h3>
        </div>

        <div class="col s10">
          <div class="video-container">
            <iframe src="https://www.youtube-nocookie.com/embed/QCsNAye8AdY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col s12">
          <p><strong>Conor McGregor, UFC 200 and alot of questions</strong> sums up UFC200's first press conference.</p>
          <p>Nate Diaz has only one thing to say to McGregor as McGregor tweeted live during the conference:</p><span class="quote">“Conor got his ass beat.”</span>
          <p>Diaz reminds everyone why he's "Stockton's Bad Boy", keeping the trash talk simple and sweet.</p>
          <p>Diaz goes on to state he is here to fight McGregor and McGreogr only, if not he will go on vacation. A vacation he can easily offered after his win.</p>
          <p>There were Boo's, heckles, pleads and countless people trying to conivce Dana to let up and give the fans what they want, A FIGHT!</p>
          <p>Dana White continued to stand by his word of pulling McGregor for the epic event, leaving an empty seat where Diaz next opponent should be.</p>
          <p>Where is Diaz going on vacation? Is this all just for press and free promoting? Would you want to be Dana White right now?</p>
        </div>
      </div>


      <div class="row">
            <div class="col s12">
              <h5>UFC 200 Diaz Vs. McGregor 100% NOT Happening</h5>
            </div>

            <div class="col 8">
                <p>Conor's Tweet:</p>
                <img src="/static/images/tweet5.png" alt="" />
                <p>Conor posted this tweet earlier this week out of nowhere, after Dana White has stated serval times at the UFC 200 conference he wont not be fighting at UFC200.</p>
                <p>Dana White later replies confused like rest of the world, Dana had this to say:</p>
                <p><span class="quote">“It's not true. We haven't talked to Conor or his manger since the press conference."</span> Conor push to press Dana into giving has failed.</p>
                <p>UFC isnt budging on this one, promote or you dont fight. Simple as that! I believe contracts should be clear and nagotiations should take place prior to any promoting.</p>
            </div>

            <div class="col 8">
                <p>Diaz's Tweet:</p>
                <img src="/static/images/tweet6.png" alt="" />
            </div>
          <div class="col s12">

              <p><strong>Nate Diaz</strong> kept his word! If the money isn't right he is not going to fight. Especially, after all the fuss over a rematch with McGregor.</p>
                  <p>Somewhere Dana is shaking his head and Conor is swearing his head off. Another fight we will have to wait just a little longer.<p>
                  <p>Hopefully, next time both will be fully prepared before stepping back into the octagon.</p>
                   <p><span class="quote">“"Killed or be Killed" - Nate Diaz.</span></p>

            </div>
        </div>

        <hr>


      <div class="row">
            <div class="col s12">
              <h5>Things Heat Up Between Jones vs. DC at UFC197</h5>
            </div>
            <div class="col s10">
              <p> Jones after winning his fight at UFC197<p>
                <div class="video-container">
                  <iframe src="https://www.youtube.com/watch?v=1wrp_GVPQJA"  allowfullscreen></iframe>
                </div>
            </div>

            <div class="col s6">
              <p><strong>Jon Jones beats OSP in unamious decision,</strong> as he leaves he makes sure Daniel Cormier (DC) knows he is next and flips him off on PPV!</p>
              <p>Jones has gotten the cage cobwebs off and is ready and pump to fight again!</p>
                <p>DC brushes off, but looks a bit worried. He seemed in good health while communtating his future opponents fight during UFC197</p>
                  <p>Jones has gone on reach to say he is skeptical of DC's leg injury. One thing is certain there two hate each other</p>
                  <p>A rematch we will continue to wait for, but will definately be worth the wait. Who will win? Will DC stay healthy? Will Jones stay out of trouble til then?<p>
        </div>

          <hr>

      <div class="row">
          <div class="col s12">
            <h3>UFC 200 press conference</h3>
          </div>
          <div class="col s6">
          <a href="http://www.sherdog.com"><img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/6/5940.jpg" class="responsive-img" alt="BJ Penn"></a><br><a href="http://www.sherdog.com">Photo by: Jeff Sherwood</a>
          </div>
          <div class="col s6">
            <p><strong>Conor McGregor, UFC200 and alot of questions</strong> sums up UFC200's first press conference.</p>
            <p>Diaz has only one thing to say to Conor:</p>
            <p><span class="quote">“Conor got his ass beat.”</span> Diaz reminds everyone why he's "Stockton's Bad Boy"</p>
            <p>Diaz goes on to say he is here to fight McGregor and McGreogr only, if not he will go on vacation, one he can easily offered after his win.</p>
            <p>There were boos, pleads and countless people trying to conivce Dana to let up and give the fans what they want, A FIGHT!</p>
            <p>Dana White continued to stay by his word of pulling Conor for the epic event, leaving an empty seat where Diaz next opponent should be.</p>
            <p>Where is Diaz going on vacation? Is this all just for press? Would you want to be Dana White right now?</p>
          </div>
        </div>


        <nav>
          <div class="nav-wrapper">
            <div class="col center-align s12">
              <a href="#/news" class="breadcrumb"> <span class="active">1</span></a>
              <a href="#/news1" class="breadcrumb"> 2 </a>
              <a href="#/news2" class="breadcrumb"> 3 </a>
              <a href="#/news3" class="breadcrumb"> 4 </a>
            </div>
          </div>
        </nav>


          <div class="messages"  ng-controller="WallController">
            <div class="message" ng-repeat="message in messages">
            <hr>
              <strong>
                <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
                <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
              </strong>
              <p ng-bind="message.message"></p>

              <div class="comments" style="margin-left: 25px">
                <div ng-repeat="comment in message.comments">
                  <strong>
                    <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                    <span ng-bind="comment.created_at | date"></span>
                  </strong>
                    <p ng-bind="comment.comment"></p>
                </div>

              </div>


              </div>


          </div>

</div>
