<div class="partial">

  <img class="z-depth-5" src="./static/images/News.png" id="banner" alt="FanfightTalk News">


          <nav>
            <div class="nav-wrapper">
              <div class="col center-align s12">
                <a href="#/news" class="breadcrumb"> 1 </a>
                <a href="#/news1" class="breadcrumb"> 2 </a>
                <a href="#/news2" class="breadcrumb"> 3 </a>
                <a href="#/news3" class="breadcrumb"><span class="active"> 4 <span></a>
              </div>
            </div>
          </nav>


          <div class="row">
             <div class="col s12">
               <h4>Conor's Side of the Story</h4>

             </div>
             <div class="col s11">
               <h5>Part 1:</h5>
               <img  id="large_img" src="./static/images/part1.jpg" class="responsive-img" alt="Conor's Statement Part 1">
             </div>
             <div class="col s11">
               <h5>Part 2:</h5>
               <img id="large_img"  src="./static/images/part2.jpg" class="responsive-img" alt="Conor's Statemtn Part 2">
             </div>
             <div class="col s12">
               <p><strong>Conor McGregor gives the public some clarity, kind of...</strong> The UFC champion posted the statement above on Thusrday, April 21st.</p>
               <p>McGregor will always be a fighter and that is why he got into this business to do. Fighters dont always like the spotlight, the fame, commericals,</p>
               <p>let alone the endless press campaigns. Nate Diaz responses again to Conor's social media statement, with this tweet:</p>
             <div class="col s10">
               <img id="small_img"  src="./static/images/diaztweet.png" class="responsive-img" alt="Nate Diaz's mocking tweet">
             </div>
             <div class="col s12">
               <p>Diaz mocking McGregor for his Instagram post he posted after his win against Aldo and everyone began calling out McGregor.</p>
               <p>The Diaz's brothers are known for their dislike of media and promoting, yet Nate still showed up for UFC 200 demands..</p>
               <p>Dana White is in a tough situation, if you give into on fighter's demands you will have to give into alot more...</p>
             </div>

           </div>

         <hr>

               <div class="col s12">
                   <img src="./static/images/tweet2.png" border="0" alt="Conor's crazy tweet">
                   <p>Conor McGregor Tweet on April 19th, 2016 at 11:29am. Trolling? Bullshit? or is he looking out for his health?</p>
                   <img src="./static/images/tweet3.png" border="0" alt="Nate's tweet">
                   <p>Nate Diaz talking retirement too, which is more believe since his long history in the sport.</p>
                   <img src="./static/images/tweet4.png" border="0" alt="Coach's tweet">
                   <p>John Kavanagh (Conor's main coach) further confirms with this tweet.</p>
                   <p>Dana White's statement:</p>
                   <div class="video-container">
                     <iframe  src="https://www.youtube-nocookie.com/embed/3wS6o4a8YHI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                   </div>

                   <p><strong>Conor McGregor made the internet go INSANE,</strong> with just one tweet that caused an giant chain reaction!</p>
                   <p>Conor McGregor tweeted on April 19th, 2016 at 11:29am, announceing his retirment out of seemingly no where!</p>
                   <p>Options: He is just playing and trying to cause more talk and promotions, there was a dispute was a contract/money issue, </p>
                   <p> he is thinking about his long time health effects or wants to go out on top of the bank.</p>
                   <p>Dana White addresses the side on the reason Conor was pulled from UFC:200 (see video)</p>
               </div>

         </div>

           <div class="row">
               <div class="col s12">
                 <h4>Bellator London (158): Kimbo vs Thompson and Daley vs Koscheck</h4>
               </div>
               <div class="col s6">
                 <img src="./static/images/bellatorlondon.png" class="responsive-img" alt="Bellator: London">
               </div>

               <div class="col s6">
                 <div class="video-container">
                       <iframe src="https://www.youtube-nocookie.com/embed/dKAL8YyoqQ8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                 </div>
               </div>

               </div>
               <div class="col s12">
                 <p><strong>Bellator at is again!</strong> Rematch season is in full swing, both headlining events for Bellator London will be two historical rematches.</p>
                 <p>Co main event is Daley vs Koscheck, last time the two were in the octogan Daley imfamously swang at Koscheck after the last round clearly bell rang,</p>
                 <p>resulting in Daley's immediate termination from the UFC!</p>
                 <p>Main event is Kimbo vs Thompson, Kimbo literally made Thompson's ear explode in 2008 the early stages of Kimbo's proffesional MMA career.</p>
                 <p>Bellator continueing to aseemble some really entertaining cards. Will histroy rewrite itself or will it be a nightmare relived? </p>
                 <p>After Kimbos last performance and holes in his ground game, the outcoming is really unpredictable.</p>
               </div>
           </div>

         <hr>

         <div class="row">
             <div class="col s12">
               <h4>Dan Henderson reschedueled for UFC 199!</h4>
             </div>
             <div class="col s9">
               <a href="http://www.sherdog.com"><img src="http://www3.cdn.sherdog.com/image_crop/640/480/_images/pictures/20160319101820_GettyImages516613140.JPG" class="responsive-img" alt="Neil Magny def. Hector Lombard via TKO (Punches) R3 0:46"></a><br><a href="http://www.sherdog.com">Photo by: Getty/Zuffa/UFC</a>
             </div>
             <div class="col s12">
               <p><strong>UFC promised us Dan Henderson and they delivered!</strong> Dan Henderson is set to fight Hector Lombard! </p>
               <p>Great reschedule and good test of the ages for Henderson. Henderson like always he is ready to fight whoever whereever!</p>
               <p>Will winning or losing determine if he retires after this fight? Will it be a quick knockout fight?</p>
             </div>
           </div>




          <nav>
            <div class="nav-wrapper">
              <div class="col center-align s12">
                <a href="#/news" class="breadcrumb"> 1 </a>
                <a href="#/news1" class="breadcrumb"> 2 </a>
                <a href="#/news2" class="breadcrumb"> 3 </a>
                <a href="#/news3" class="breadcrumb"> <span class="active">4</span></a>
              </div>
            </div>
          </nav>


      <div class="messages">
        <div class="message" ng-repeat="message in messages">
          <strong>
            <span ng-bind="message.user.name"></span>  (<span ng-bind="message.user.zipcode"></span>) -
            <a href="/#/posts/{{message._id}}"><span ng-bind="message.created_at | date"></span></a>
          </strong>
          <p ng-bind="message.message"></p>

          <div class="comments" style="margin-left: 35px">
            <div ng-repeat="comment in message.comments">
              <strong>
                <span ng-bind="comment.user.name"></span> (<span ng-bind="comment.user.zipcode"></span>)  -
                <span ng-bind="comment.created_at | date"></span>
              </strong>
                <p ng-bind="comment.comment"></p>
            </div>

            <label for="">Post a comment:</label>
            <textarea ng-model="newComment.comment"></textarea>
            <button ng-click="postComment(newComment, message)" class="waves-effect waves-red btn"><i class="material-icons left">chat_bubble_outline</i>Post a Comment</button>

          </div>

      </div>

    </div>

</div>
