<div class="partial">
<img class="z-depth-5" src="./static/images/News.png" style="width: 100%; height: 120px; padding: 2px;" alt="FanfightTalk">

  <hr>
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/" class="breadcrumb">First Page</a>
            <a href="#/news2" class="breadcrumb">Second Page</a>
            <a href="#/news3" class="breadcrumb">Third Page</a>
          </div>
        </div>
      </nav>

      <h1>more News to come!</h1>


      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/" class="breadcrumb">First Page</a>
            <a href="#/news2" class="breadcrumb">Second Page</a>
            <a href="#/news3" class="breadcrumb">Third Page</a>
          </div>
        </div>
      </nav>

</div>
