<div class="partial">
  <img class="z-depth-5" src="./static/images/other.png" id="banner" alt="Other Videos">
  <hr>
  <div class="other">

        <nav>
          <div class="nav-wrapper">
            <div class="col s12">
              <a href="#/ufc" class="breadcrumb">UFC</a>
              <a href="#/bellator" class="breadcrumb">Bellator</a>
              <a href="#/other" class="active"><span class="active">Others</span></a>
            </div>
          </div>
        </nav>

      <hr>
          <div class="row">
              <div class="col s12">
                <h3>"GLORY 28: Paris"</h3>
              </div>
               <div class="col s6">
                   <h5>GLORY 28 Paris: Verhoeven vs Brestovac</h5>
                      <div class="video-container">
                        <iframe src="https://www.youtube-nocookie.com/embed/XxHDuMVR1a8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                </div>


             <div class="col s6">
                <h5>GLORY 28 Paris: Sittichai vs Kiria (Semi Finals)</h5>
                <div class="video-container">
                    <iframe src="https://www.youtube-nocookie.com/embed/cyoRqO79qyw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>

          </div>

          <div class="row">
               <div class="col s12">
                   <h5>GLORY 28 Paris: Groenhart vs Doumbé (Co-Headline Fight)</h5>
                      <div class="video-container">
                        <iframe src="https://www.youtube-nocookie.com/embed/so-muIGwE4g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                </div>

          </div>

        <hr>

          <div class="row">
              <div class="col s12">
                <h3>"ONE Championship: </h3>
                  <h3>Boku vs Latoel"</h3>
              </div>
               <div class="col s6">
                   <h5>ONE Championship: Boku vs Latoel</h5>
                      <div class="video-container">
                        <iframe src="https://www.youtube-nocookie.com/embed/U4AOAnUJjKo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                </div>


             <div class="col s6">
                <h5>ONE Championship
                  <h5>(Global Rivals): Gafurov vs McLaren</h5>
                <div class="video-container">
                    <iframe  src="https://www.youtube-nocookie.com/embed/h8pQv8KGP9E?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>

          </div>


      <hr>

      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/ufc" class="breadcrumb">UFC</a>
            <a href="#/bellator" class="breadcrumb">Bellator</a>
            <a href="#/other" class="active"><span class="active">Others</span></a>
          </div>
        </div>
      </nav>



  </div>
</div>
