<div class="partial">
  <img class="z-depth-5" src="./static/images/other.png" id="banner" alt="Other Videos">
  <hr>
  <div class="other">

      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/ufc" class="breadcrumb">UFC's Fight Videos</a>
            <a href="#/bellator" class="breadcrumb">Bellator Fight Videos</a>
            <a href="#/other" class="breadcrumb">Other Videos</a>
          </div>
        </div>
      </nav>

      <hr>
          <div class="row">
              <div class="col s12">
                <h1>"GLORY 28 Paris"</h1>
              </div>
               <div class="col s6">
                   <h3>GLORY 28 Paris: Verhoeven vs Brestovac</h3>
                      <div class="video-container">
                        <iframe src="https://www.youtube-nocookie.com/embed/XxHDuMVR1a8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                </div>


             <div class="col s6">
                <h3>GLORY 28 Paris: Sittichai vs Kiria (Semi Finals)</h3>
                <div class="video-container">
                    <iframe src="https://www.youtube-nocookie.com/embed/cyoRqO79qyw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>

          </div>

          <div class="row">
               <div class="col s12">
                   <h3>GLORY 28 Paris: Groenhart vs Doumbé (Co-Headline Fight)</h3>
                      <div class="video-container">
                        <iframe src="https://www.youtube-nocookie.com/embed/so-muIGwE4g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                </div>

          </div>

        <hr>

          <div class="row">
              <div class="col s12">
                <h1>"ONE Championship: Boku vs Latoel"</h1>
              </div>
               <div class="col s6">
                   <h3>ONE Championship: Boku vs Latoel</h3>
                      <div class="video-container">
                        <iframe src="https://www.youtube-nocookie.com/embed/U4AOAnUJjKo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                </div>


             <div class="col s6">
                <h3>ONE Championship (Global Rivals): Gafurov vs McLaren</h3>
                <div class="video-container">
                    <iframe  src="https://www.youtube-nocookie.com/embed/h8pQv8KGP9E?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>

          </div>


      <hr>

      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/ufc" class="breadcrumb">UFC's Fight Videos</a>
            <a href="#/bellator" class="breadcrumb">Bellator Fight Videos</a>
            <a href="#/other" class="breadcrumb">Other Fight Videos</a>
          </div>
        </div>
      </nav>



  </div>
</div>
