<div class="partial">
 <img src="./static/images/podcast.png" id="banner" alt="FanfightTalk's Podcast">
 <hr>


</div>

<div class="row">
      <div class="col s12">
        <h3>Podcast: "UFC 198"</h3>
        <h5>hosted by: Mark and Stephen Popovich</h5>
        <h9>Date uploaded: May 15th, 2016 10:55pm</h9>
      </div>

      <div class="col s10">
          <div class="video-container">
              <iframe  src="https://www.youtube.com/embed/u3h3mOrST2s" frameborder="0" allowfullscreen></iframe>
         </div>
     </div>

      <div class="col s12">
          <p>Our first podcast, right after UFC 198. We discuss the results, current events and upcoming problems for the UFC.</p>
          <p>Make sure to subscript to our youtube channel and follow us on Instagram and Twitter!</p>
      </div>
  </div>
