<div class="partial">
<img src="./static/images/Title_Holders.png" alt="FanfightTalk">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>


     <link rel="stylesheet" type="text/css" href="style.css">
  <hr>
  <div class="row">

          <table  class="responsive-table">
              <thead>
                <tr>
                  <h3>Pound for Pound <strong>"BEST IN THE WORLD" </strong> <p>(Last Updated: 4/15/16)</p></h3>
                </tr>
              </thead>

            <tbody>
              <tr>
                <td>
                  <ol class="topfighters">
                    <li>Jon Jones</li>
                    <li>Demetrious Johnson</li>
                    <li>Luke Rockhold</li>
                    <li>Fabricio Werdum</li>
                    <li>Dominick Cruz</li>
                    <li>Rafael Dos Anjos</li>
                    <li>Robbie Lawler</li>
                    <li>Conor McGregor</li>
                    <li>Daniel Cormier</li>
                    <li>Jose Aldo</li>
                    <li>Chris Weidman</li>
                    <li>Frankie Edgar</li>
                    <li>TJ Dillashaw </li>
                    <li>Joanna Jedrzejczyk</li>
                    <li>Miesha Tate</li>
                  </ol>
                </td>

              </tr>
            </tbody>
        </table>


    </div>

  </div>

  <hr>

  <div class="row">

      <div class="col s3">
        <h5>Flyweight</h5>
        <h10>Champion : Demetrious Johnson </h10>
        <img src="http://media.ufc.tv/fighter_images/Demitrious_Johnson/JOHNSON_DEMETRIOUS.png" class="responsive-img" alt="Demetrious Johnson">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/MightyMouseUFC" data-widget-id="714966735577686016">Tweets by @MightyMouseUFC</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col s1">
        <h10>Ranking:<h10>
        <ol id="ranking">

          <li>Joseph Benavidez</li>
          <li>Henry Cejudo </li>
          <li>John Dodson</li>
          <li>Jussier Formiga</li>
          <li>Ian McCall </li>
          <li>Kyoji Horiguchi</li>
          <li>John Moraga</li>
          <li>Zach Makovsky</li>
          <li>Wilson Reis </li>
          <li>Dustin Ortiz </li>
          <li>Ali Bagautinov</li>
          <li>Justin Scoggins</li>
          <li>Louis Smolka </li>
          <li>Ray Borg </li>
          <li>Sergio Pettis</li>

        </ol>
      </div>

      <div class="col s3">
        <h5>Bantamweight</h5>
        <h10>Champion : Dominick Cruz</h10>
        <img  class="materialboxed" src="http://media.ufc.tv/fighter_images/Dominick_Cruz/CRUZ_DOMINICK_BELT.png" class="responsive-img" alt="Dominick Cruz">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/TheDomin8r" data-widget-id="714969013617426432">Tweets by @TheDomin8r</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div>
      <div class="col s1">
      <h10>Ranking:<h10>
      <ol id="ranking">

        <li>TJ Dillashaw</li>
        <li>Urijah Faber</li>
        <li>Raphael Assuncao </li>
        <li>Aljamain Sterling </li>
        <li>Renan Barao</li>
        <li>Michael McDonald </li>
        <li>Thomas Almeida </li>
        <li>Bryan Caraway </li>
        <li>Takeya Mizugaki </li>
        <li>Johnny Eduardo </li>
        <li>Jimmie Rivera</li>
        <li>John Lineker </li>
        <li>Frankie Saenz </li>
        <li>Eddie Wineland</li>
        <li>Cody Garbrandt</li>

      </ol>
    </div>
      <div class="col s3">
        <h5>FeatherWeight</h5>
        <h10>Champion : Conor McGregor</h10>
        <img  src=" http://media.ufc.tv/fighter_images/Conor_McGregor/MCGREGOR_CONOR.png" class="responsive-img" alt="Conor McGregor" >
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/TheNotoriousMMA" data-widget-id="714960859399716864">Tweets by @TheNotoriousMMA</a>
      </div>
    <div class="col s1">
      <h10>Ranking:<h10>
      <ol id="ranking">

          <li>Jose Aldo
          <li>Frankie Edgar</li>
          <li>Chad Mendes</li>
          <li>Max Holloway</li>
          <li>Ricardo Lamas</li>
          <li>Cub Swanson </li>
          <li>Charles Oliveira</li>
          <li>Dennis Bermudez</li>
          <li>Jeremy Stephens</li>
          <li>Hacran Dias</li>
          <li>Darren Elkins</li>
          <li>Brian Ortega</li>
          <li>Tatsuya Kawajiri</li>
          <li>Nik Lentz</li>
          <li>Clay Guida</li>

      </ol>
    </div>
  </div>

    <div class="row">
      <div class="col s3">
        <h5>Lightweight</h5>
        <h10>Champion : Rafael Dos Anjos</h10>
        <img src="http://media.ufc.tv/fighter_images//Rafael_Dos_Anjos/DOS_ANJOS_RAFAEL_BELT.png" class="responsive-img" alt="Rafael Dos Anjos">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/RdosAnjosMMA" data-widget-id="714968552701239296">Tweets by @RdosAnjosMMA</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col s1">
        <h10>Ranking:<h10>
        <ol id="ranking">
          <li>Eddie Alvarez</li>
          <li>Khabib Nurmagomedov</li>
          <li>Anthony Pettis</li>
          <li>Tony Ferguson</li>
          <li>Nate Diaz</li>
          <li>Michael Johnson</li>
          <li>Beneil Dariush</li>
          <li>Edson Barboza</li>
          <li>Donald Cerrone</li>
          <li>Dustin Poirier</li>
          <li>Al Iaquinta</li>
          <li>Bobby Green</li>
          <li>Evan Dunham</li>
          <li>Michael Chiesa</li>
          <li>Rashid Magomedov</li>
        </ol>
      </div>

      <div class="col s3">
        <h5>Welterweight</h5>
        <h10>Champion : Robbie Lawler</h10>
        <img  src="http://media.ufc.tv/fighter_images/Robbie_Lawler/LAWLER_ROBBIE.png" class="responsive-img" alt="Robbie Lawler" >
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Ruthless_RL" data-widget-id="714962471165898752">Tweets by @Ruthless_RL</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col s1">
          <h10>Ranking:<h10>
          <ol id="ranking">

              <li>Rory MacDonald</li>
              <li>Stephen Thompson</li>
              <li>Tyron Woodley</li>
              <li>Carlos Condit</li>
              <li>Johny Hendricks</li>
              <li>Demian Maia</li>
              <li>Neil Magny</li>
              <li>Matt Brown</li>
              <li>Dong Hyun Kim </li>
              <li>Tarec Saffiedine</li>
              <li>Rick Story</li>
              <li>Kelvin Gastelum</li>
              <li>Albert Tumenov</li>
              <li>Hector Lombard</li>
              <li>Thiago Alves</li>

          </ol>
        </div>
      <div class="col s3">
        <h5>Middleweight</h5>
        <h10>Champion : Luke Rockhold</h10>
        <img  src="http://media.ufc.tv/fighter_images/Luke_Rockhold/ROCKHOLD_LUKE_BELT.png" class="responsive-img" alt="Luke Rockhold">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LukeRockhold" data-widget-id="714968047698579457">Tweets by @LukeRockhold</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col s1">
        <h10>Ranking:<h10>
        <ol id="ranking">

          <li>Chris Weidman</li>
          <li>Jacare Souza</li>
          <li>Vitor Belfort</li>
          <li>Michael Bisping</li>
          <li>Lyoto Machida</li>
          <li>Anderson Silva</li>
          <li>Robert Whittaker</li>
          <li>Gegard Mousasi</li>
          <li>Tim Kennedy</li>
          <li>Uriah Hall</li>
          <li>Derek Brunson</li>
          <li>Thales Leites</li>
          <li>Rafael Natal</li>
          <li>Dan Henderson</li>
          <li>CB Dollaway</li>

        </ol>
      </div>

    </div>

    <div class="row">
        <div class="col s5">
          <h5>Light Heavyweight</h5>
          <h10>Champion : Daniel Cormier (Out due to Injury)</h10>
          <img  src="http://media.ufc.tv/fighter_images/Daniel_Cormier/CORMIER_DANIEL.png" class="responsive-img" alt="Daniel Cormier">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/dc_mma/likes" data-widget-id="714965962831716352">@dc_mma's Likes on Twitter</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col s1">
        <h10>Ranking:<h10>
        <ol id="ranking">

          <li>Jon Jones</li>
          <li>Anthony Johnson</li>
          <li>Alexander Gustafsson</li>
          <li>Glover Teixeira</li>
          <li>Ryan Bader</li>
          <li>Ovince Saint Preux</li>
          <li>Rashad Evans</li>
          <li>Mauricio Rua</li>
          <li>Jimi Manuwa</li>
          <li>Antonio Rogerio Nogueira</li>
          <li>Patrick Cummins</li>
          <li>Corey Anderson</li>
          <li>Ilir Latifi </li>
          <li>Nikita Krylov</li>
          <li>Gian Villante</li>

        </ol>
      </div>


        <div class="col s5">
          <h5>Heavyweight</h5>
          <h10>Champion : Fabricio Werdum</h10>
          <img  src="http://media.ufc.tv/fighter_images/Fabricio_Werdum/WERDUM_FABRICIO.png" class="responsive-img" alt="Fabricio Werdum">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/FabricioWerdum" data-widget-id="714969668784496640">Tweets by @FabricioWerdum</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col s1">
          <h10>Ranking:<h10>
          <ol id="ranking">
              <li>Cain Velasquez</li>
              <li>Stipe Miocic</li>
              <li>Alistair Overeem</li>
              <li>Ben Rothwell</li>
              <li>Junior Dos Santos</li>
              <li>Andrei Arlovski</li>
              <li>Travis Browne </li>
              <li>Mark Hunt</li>
              <li>Josh Barnett</li>
              <li>Frank Mir</li>
              <li>Roy Nelson</li>
              <li>Antonio Silva</li>
              <li>Ruslan Magomedov</li>
              <li>Alexey Oliynyk</li>
              <li>Stefan Struve *NR </li>
          </ol>
        </div>

    </div>

    <div class="row">
        <div class="col s12">
            <h3><u>Female Division<u></h3>

        </div>
        <div class="col s5">
          div class="col s4">
            <h5>Strawweight</h5>
            <h10>Champion : Joanna Jedrzejczyk</h10>
            <img  src="http://media.ufc.tv/fighter_images/Joanna-Jedrzejczyk/JEDRZEJCZYK_JOANNA.png" class="responsive-img" alt="Joanna Jedrzejczyk">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/joannamma" data-widget-id="714971271956549632">Tweets by @joannamma</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>

        <div class="col s1">
          <h10>Ranking:<h10>
          <ol id="ranking">
            <ol>
            <li>Claudia Gadelha</li>
            <li>Carla Esparza</li>
            <li>Rose Namajunas</li>
            <li>Tecia Torres</li>
            <li>Jessica Penne</li>
            <li>Valerie Letourneau</li>
            <li>Paige VanZant</li>
            <li>Michelle Waterson</li>
            <li>Maryna Moroz</li>
            <li>Karolina Kowalkiewicz</li>
            <li>Joanne Calderwood</li>
            <li>Randa Markos</li>
            <li>Jessica Aguilar</li>
            <li>Juliana Lima</li>
            <li>Justine Kish *NR</li>
          </ol>
        </div>

        <div class="col s5">
          div class="col s4">
            <h5>Bantamweight</h5>
            <h10>Champion : Miesha Tate</h10>
            <img  src="http://media.ufc.tv/fighter_images/Miesha_Tate/TATE_MIESHA_BELT.png" class="responsive-img" alt="Miesha Tate">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/MieshaTate" data-widget-id="714970738122317824">Tweets by @MieshaTate</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          </div>
          <div class="col s1">
            <h10>Ranking:<h10>
            <ol id="ranking">

              <li>Holly Holm</li>
              <li>Ronda Rousey</li>
              <li>Cat Zingano</li>
              <li>Amanda Nunes</li>
              <li>Julianna Pena</li>
              <li>Sara McMann</li>
              <li>Jessica Eye</li>
              <li>Bethe Correia</li>
              <li>Liz Carmouche</li>
              <li>Sarah Kaufman</li>
              <li>Valentina Shevchenko </li>
              <li>Raquel Pennington</li>
              <li>Germaine de Randamie</li>
              <li>Lauren Murphy</li>
              <li>Marion Reneau</li>

            </ol>
          </div>
        </div>
      </div>


</div>
