<div class="partial">
  <img class="z-depth-5" src="./static/images/ufc.png" id="banner" alt="UFC videos">
  <hr>
  <div class="ufc">

      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/ufc" class="breadcrumb">UFC's Fight Videos</a>
            <a href="#/bellator" class="breadcrumb">Bellator Fight Videos</a>
            <a href="#/other" class="breadcrumb">Other Fight Videos</a>
          </div>
        </div>
      </nav>

            <div class="row">
              <div class="col s12">
                <h1>"UFC on FOX 19: Teixeira vs Evans"</h1>
              </div>
               <div class="col s6">
                   <h3>UFC on FOX 19 (Tampa): Teixeira vs Evans </h3>
                      <video class="responsive-video" controls>
                        <source src="http://video.fight4free.com/wix/teixeiraevansfightvideo.mp4" type="video/mp4">

                      </video>
                </div>



               <div class="col s6">
                  <h3>UFC on FOX 19 (Tampa): Dias vs Swanson </h3>
                    <video class="responsive-video" controls>
                         <source src="http://video.fight4free.com/wix/swansondiasfightvideo.mp4" type="video/mp4">
                    </video>

              </div>


           </div>


            <div class="row">
                   <div class="col s6">
                       <h3>UFC on FOX 19 (Tampa): Pennington vs Correian </h3>
                           <video class="responsive-video" controls>
                              <source src="http://video.fight4free.com/wix/correirapenigtonfightvideo.mp4" type="video/mp4">
                            </video>
                        </div>



                   <div class="col s6">
                        <h3>UFC on FOX 19 (Tampa): Dodson vs Gamburyan </h3>
                          <video class="responsive-video" controls>
                             <source src="http://video.fight4free.com/wix/dodsongumbiryanfightvideo.mp4" type="video/mp4">
                          </video>
                      </div>

               </div>


           </div>

          <div class="row">
             <div class="col s6">
               <h3>UFC 196: Diaz vs. McGregor</h3>
                 <div class="video-container">
                     <a class="embedly-card" href="https://vid.me/3Hp2">Main: Diaz vs. McGregor</a>
                      <iframe src="https://vid.me/e/3Hp2?stats=1&amp;tools=1" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
                 </div>
           </div>



             <div class="col s6">
               <h3>UFC 196: Tate Vs Holm</h3>
               <div class="video-container">
                   <a class="embedly-card" href="https://vid.me/T2NN">Co-Main: Tate Vs Holm</a>
                     <iframe src="https://vid.me/e/T2NN?stats=1&amp;tools=1"  frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
                </div>

             </div>


         </div>

             <div class="row">
                <div class="col s6">
                  <h3>UFC 196: Miller vs. Sanchez</h3>
                    <video class="responsive-video" controls>
                      <source src="http://video.fight4free.com/wix/sanchezmillerfightvideo.mp4" type="video/mp4">

                    </video>
              </div>



                <div class="col s6">
                  <h3>UFC 196: Nunes Vs Shevchenko</h3>

                   <video class="responsive-video" controls>
                     <source src="http://video.fight4free.com/wix/nunesshevecenkofightvideo.mp4" type="video/mp4">

                   </video>
                </div>


            </div>

       <div class="row">

          <div class="col s6">
            <h3>Top 20 Knockouts in UFC History</h3>
            <div class="video-container">
              <iframe src="https://www.youtube-nocookie.com/embed/LWE79K2Ii-s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col s6">
            <h3>Top 20 Submissions in UFC History</h3>
            <div class="video-container">
              <iframe src="https://www.youtube-nocookie.com/embed/HALf3esHQJ0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

      </div>


      <hr>

      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/ufc" class="breadcrumb">UFC's Fight Videos</a>
            <a href="#/bellator" class="breadcrumb">Bellator Fight Videos</a>
            <a href="#/other" class="breadcrumb">Other Fight Videos</a>
          </div>
        </div>
      </nav>



  </div>
</div>
