<div class="partial">
  <img class="z-depth-5" src="./static/images/ufc.png" id="banner" alt="UFC videos">
  <hr>
  <div class="ufc">

      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/ufc" class="breadcrumb"><span class="active">UFC</span></a>
            <a href="#/bellator" class="breadcrumb">Bellator</a>
            <a href="#/other" class="breadcrumb">Others</a>
          </div>
        </div>
      </nav>

      <div class="row">
            <div class="col s12">
              <h3>"UFC 198: Werdum vs. Miocic"</h3>
            </div>
             <div class="col s6">
                 <h5>UFC 198: Werdum vs. Miocic</h5>
                 <div class="video-container">
                   <iframe src="//rutube.ru/play/embed/8515464" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>



             <div class="col s6">
                <h5>UFC 198: Souza vs. Belfort</h5>
                <div class="video-container">
                  <iframe src="//rutube.ru/play/embed/8515453" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
               </div>
            </div>

       </div>

      <div class="row">
             <div class="col s6">
                 <h5>UFC 198: Cyborg vs. Smith</h5>
                 <div class="video-container">
                    <iframe src="//rutube.ru/play/embed/8515444" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>



             <div class="col s6">
                <h5>UFC 198: Rua vs. Anderson</h5>
                <div class="video-container">
                   <iframe src="//rutube.ru/play/embed/8515441" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
               </div>
            </div>

       </div>

          <hr>
            <div class="row">
                  <div class="col s12">
                    <h3>"UFC Fight Night Rotterdam: Overeem vs. Arlovski"</h3>
                  </div>
                   <div class="col s6">
                       <h5>UFC Fight Night: Overeem vs. Arlovski</h5>
                       <div class="video-container">
                          <iframe src="//rutube.ru/play/embed/8494729" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                      </div>
                    </div>



                   <div class="col s6">
                      <h5>UFC Fight Night: Struve vs. "BigFoot" Silva</h5>
                      <div class="video-container">
                         <iframe src="//rutube.ru/play/embed/8494713" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                     </div>
                  </div>

             </div>
             <div class="row">
                    <div class="col s6">
                        <h5>UFC Fight Night: Tumenov vs. Nelson</h5>
                        <div class="video-container">
                           <iframe src="//rutube.ru/play/embed/8494706" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                       </div>
                     </div>



                    <div class="col s6">
                       <h5>UFC Fight Night: Randamie vs. Elmose</h5>
                       <div class="video-container">
                          <iframe src="//rutube.ru/play/embed/8494908" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                      </div>
                   </div>

              </div>

        <hr>

            <div class="row">
                  <div class="col s12">
                    <h3>"UFC 197: Jones vs OSP"</h3>
                  </div>
                   <div class="col s6">
                       <h5>UFC 197: Jones vs OSP </h5>
                       <div class="video-container">
                          <iframe src="//rutube.ru/play/embed/8466175" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>

                      </div>
                    </div>



                   <div class="col s6">
                      <h5>UFC 197: Johnson vs Cejudo</h5>
                      <div class="video-container">
                         <iframe src="//rutube.ru/play/embed/8466120" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                     </div>
                  </div>

             </div>

             <div class="row">


                     <div class="col s6">
                        <h5>UFC 197: Barboza vs. A. Pettis</h5>
                        <div class="video-container">
                           <iframe src="//rutube.ru/play/embed/8466124" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                       </div>
                    </div>

                    <div class="col s6">
                        <h5>UFC 197: Kelades vs. S. Pettis </h5>
                        <div class="video-container">
                           <iframe src="//rutube.ru/play/embed/8466216" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                       </div>
                     </div>


              </div>

              <hr>


            <div class="row">
                <div class="col s12">
                  <h3>"UFC on FOX 19: Teixeira vs Evans"</h3>
                </div>
                 <div class="col s6">
                     <h5>UFC on FOX 19 (Tampa): Teixeira vs Evans </h5>
                         <div class="video-container">
                            <iframe src="//rutube.ru/play/embed/8450162" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>

                        </div>
                  </div>



                 <div class="col s6">
                    <h5>UFC on FOX 19 (Tampa): Dias vs Swanson </h5>
                    <div class="video-container">
                       <iframe src="//rutube.ru/play/embed/8450135" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>

                   </div>
                </div>
            </div>


            <div class="row">
                   <div class="col s6">
                       <h5>UFC on FOX 19 (Tampa): Pennington vs Correian </h5>
                       <div class="video-container">
                         <iframe src="//rutube.ru/play/embed/8450130" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                       </div>
                   </div>



                   <div class="col s6">
                        <h5>UFC on FOX 19 (Tampa): Dodson vs Gamburyan </h5>
                        <div class="video-container">
                          <iframe src="//rutube.ru/play/embed/8449966" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                       </div>
                  </div>
            </div>

            <hr>

           </div>

          <div class="row">
             <div class="col s10">
               <h5>UFC 196: Diaz vs. McGregor</h5>
                 <div class="video-container">
                     <a class="embedly-card" href="https://vid.me/3Hp2">Main: Diaz vs. McGregor</a>
                      <iframe src="https://vid.me/e/3Hp2?stats=1&amp;tools=1" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
                 </div>
           </div>





         </div>

         <hr>


       <div class="row">
         <div class="col s12">
               <h4>"Fight Night: JDS vs Rothwell"</h4>
         </div>
              <div class="col s6">
                  <h5>Fight Night: JDS vs Rothwell</h5>
                  <div class="video-container">
                    <iframe src="//rutube.ru/play/embed/8434817" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
                 </div>
              </div>



              <div class="col s6">
                   <h5>Fight Night: Namajunas vs Torres</h5>
                   <div class="video-container">
                     <iframe src="//rutube.ru/play/embed/8450176" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>

                  </div>
                 </div>

          </div>

          <hr>


       <div class="row">

          <div class="col s6">
            <h5>Top 20 KOs in UFC History</h5>
            <div class="video-container">
              <iframe src="https://www.youtube-nocookie.com/embed/LWE79K2Ii-s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col s6">
            <h5>Top 20 Submissions in UFC History</h5>
            <div class="video-container">
              <iframe src="https://www.youtube-nocookie.com/embed/HALf3esHQJ0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

      </div>


      <hr>

      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#/ufc" class="breadcrumb"><span class="active">UFC</span></a>
            <a href="#/bellator" class="breadcrumb">Bellator</a>
            <a href="#/other" class="breadcrumb">Others</a>
          </div>
        </div>
      </nav>



  </div>
</div>
