*{

}

body{
  background-image: url("http://static1.squarespace.com/static/55b61839e4b04e39fb625165/t/55b692e9e4b0b4cd5d2f9c47/1438028524658/background.jpg?format=2500w");
  background-size: cover;
  opacity: 0.85;
  position: relative;
  border: 2px solid red;
  width: 100%;
  height: 100%;

}

.partial{
  padding: 2px;
}


.nav-wrapper{
font-family: 'Slabo 27px', serif;
font-size: 1em;
box-shadow: 3px 3px 6px 2px black;
width: 99%;
}

.active{
  font-size: 22px;
  color: black;
  font-family: 'Fjalla One', sans-serif;
}

.side-nav a {
  color: white;

}

.side-nav a:hover{
  color: black;

}
.side-nav{
  background-color: black;

}

.breadcrumb{
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 20px;

}

#mobile-demo{
  background-color: #b71c1c;
}
.container{
  width: 100%;
  height: 100%;

}
#footer_logo{
  width: 12%;
  height: 10%;
}

#footer_imgs img:hover{
  width: 120px;
  height: 120px;

}


footer.page-footer{
  background-color: #b71c1c;
  padding-left: 15px;
  padding-right: 3px;

}

#founded{
  color: black;
}

#slide_img img{
  height: 120px;
  width: 900px;
}



.slider h3{
  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: 'Fjalla One', sans-serif;

}

.slider h6{
  color: #b71c1c;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: 'Fjalla One', sans-serif;
}

label{
  color: white;
  font-size: 7px;
  font-family: 'Fjalla One', sans-serif;
}
.messages{
  background-image: url("http://coolblackppt.com/wp-content/uploads/cool-red-and-black-backgrounds-20150318210957-5509e9a598331.jpg");
  background-size:  cover;
  opacity: 0.9;
  position: relative;
  border-radius: 6px;
  border: 2px solid red;

}
.comments{
  background-image: url("http://www.walleo.co/wp-content/uploads/2016/02/Black-Background-Cool-Wallpapers-TE19O.jpg");
  background-size:cover;
  background-color: gray;
  opacity: 0.82;
  position: relative;
  border-radius: 6px;
  box-shadow: 3px 3px 12px 2px #b71c1c;
  width: 75%;
  height: 35%

  margin-left: 35px
}


textarea:focus, input:focus {
    color: white;
}
hr{
  color: #b71c1c;
  background-color: darkred;
  border: 4px solid red;
  border-radius: 6px;
  shape-outside: inherit;
  box-shadow: 2px 2px 5px 1px black;
  opacity: 0.25;
}
.waves-effect.waves-red{
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color:  #b71c1c;
 }
textarea{
  border: 2px solid red;
  box-shadow: 6px 6px 16px 4px #b71c1c;
  display: block;
  width: 45%;
  height: 35%;

}

waves-effect waves-light btn
ol{
 padding-left: initial;
 }


.brand-logo img{
  box-shadow: 0px 0px 0px 0px;
  height: 70px;
  width: 220px;
}

.brand-logo img:hover{
  box-shadow: 0px 0px 0px 0px;
  height: 70px;
  width: 250px;
}


.brand-logo img:hover{
  box-shadow: 0px 0px 0px 0px;
  height: 70px;
  width: 250px;
}

.brand-logo #minilogo{
  box-shadow: 0px 0px 0px 0px;
  height: 50px;
  width: 55px;
  margin-bottom: 14px;
  padding: 4px;

}
p{
  font-family: 'Fjalla One', sans-serif;
  color: white;

  font-style: oblique;

}
p:hover{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 22px;

  font-style: oblique;

}
h2, h10, h5, h6{
  color: white;
  font-family: 'Ultra', serif;
  line-height: 1.4;
}

h1{
  color: white;
  font-family: monospace;
}

h5, h4, h3, h8, ul{
  font-family: 'Allerta Stencil', sans-serif;
  color: white;
}


#worldmap script{
  width: 25%;
  height: 25%;

}
#getfollowers{
  opacity: 0.8;
}

#chatroom{
  height: 480px;
  width: 100%;
  box-shadow: 2px 2px 6px 2px black;
}

#instruction_pics img{
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 0px 0px;
}

iframe{
  box-shadow: 9px 9px 12px 6px #b71c1c;
  border: 2px solid red;
  border-radius: 8px;
}

video{
  border: 2px solid red;
  border-radius: 8px;
}


span{
  color: white;
  outline: red;
}

.quote{
  color: #ffcc00;
  font-size: 20px;
  font-style: italic;
}

.login, h10{
  color: white;
  padding-left: 20px;
}

.partial{

  /*background-image: url("");*/
  border: 2px solid red;
  display: block;
}
.row .col{

    padding: 0 0.00rem;
}

.col6, img{
  width: 80%;
  height: 100px;
}
.col3, img{
  width: 100%;
  height: 100%;
}

#main_logo{
  width: 10%;
  height: 6%;
}

#mainbanner{
  width: 90%;
  height: 100px;
  padding-left: 24%;
  padding-right: 24%;
}

#banner{
  width: 100%;
  height: 45px;
  padding-left: 26%;
  padding-right: 26%;
  background-image: url("http://bjjsurrey.com/bjj/wp-content/uploads/2012/11/cage-background21.jpg");
  box-shadow: 3px 3px 8px 2px #b71c1c;
  background-size:  cover;
  opacity: 0.9;
  position: relative;

}

ul img{
  width: 40px;
  height: 40px;

}
#ranking li{
  font-size: 8px;

}
#ranking li:hover{
  font-size: 12px;

}

#social_media img{
  width: 60px;
  height: 60px;
  box-shadow: 3px 3px 8px 2px #b71c1c;
}


#social_media img:hover{
  width: 60px;
  height: 60px;
  box-shadow: 3px 3px 8px 2px white;

}

#instagram script span{
  left: 300px;
  height: 10px;
  width: 10px;
}

.ig-follow {
  right: 40%;
  box-shadow: 3px 3px 8px 2px #b71c1c;
}

.ig-background{
  right: 40%;
  box-shadow: 3px 3px 8px 2px white;
}


.twitter-follow-button{


.twitter-follow-button{
  right: 40%;
  box-shadow: 3px 3px 8px 2px #b71c1c;
}



#instagram script span{
  left: 300px;
  height: 10px;
  width: 10px;
}

.ig-follow {
>>>>>>> 4275a2aa130c777c062eae154077fb9b430e8107
  right: 40%;
  box-shadow: 3px 3px 8px 2px #b71c1c;
}

.ig-background{
  right: 40%;
  box-shadow: 3px 3px 8px 2px white;
}

.twitter-follow-button{
  right: 40%;
  box-shadow: 3px 3px 8px 2px #b71c1c;
}

#ourpics{
  width: 100%;
  height: 20%;
  border-radius: 12px;
}

#sociallogo{

  width: 50%;
  height: 50%;

  box-shadow: 0px 0px 0px 0px;
}
.IGF.large img{
  box-shadow: 0px 0px 0px 0px;
}

#error-dialog {
   padding: 15px;
}

#error-dialog i {
   margin-right: 5px;
}
.topfighters li{
  font-family: 'Slabo 27px', serif;
  padding-left: 35px;
  font-size: 35px;
  color:  #b71c1c;
  border-radius: 6px;
}

table li{
  color: white;
}

/* label color */
.input-field label {
 color: #b71c1c;
 border-radius: 6px;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #b71c1c;
 border-radius: 6px;
}

/* label focus color */
.input-field input[type=tel]:focus + label {
 color: #b71c1c;
}

/* label underline focus color */
.input-field input[type=tel]:focus {
 border-bottom: 1px solid #b71c1c;
 box-shadow: 6px 6px 10px 4px #b71c1c;
 border-radius: 6px;
}
/* valid color */
.input-field input[type=tel].valid {
 border-bottom: 1px solid #b71c1c;
 box-shadow: 6px 6px 10px 4px #b71c1c;
 border-radius: 6px;
}
/* invalid color */
.input-field input[type=tel].invalid {
 border-bottom: 1px solid #b71c1c;
 box-shadow: 6px 6px 10px 4px #b71c1c;
 border-radius: 6px;
}

/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #b71c1c;
 box-shadow: 6px 6px 10px 4px #b71c1c;
 border-radius: 6px;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #b71c1c;
 box-shadow: 6px 6px 10px 4px #b71c1c;
 border-radius: 6px;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #b71c1c;
 box-shadow: 6px 6px 10px 4px #b71c1c;
 border-radius: 6px;
}
/*icon prefix focus color */
.input-field .prefix:active {
 color: #b71c1c;
}
.input-field .prefix {
  color: white;
}

textarea .prefix.active {
 color: #b71c1c;
}
textarea .prefix {
  color: white;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    font-size: 17px;
}

/* selected link */
a:active {
  color: black;
}

a:selection{
  color: black;
}

/* mouse over image */
img:hover {
  box-shadow: 9px 9px 12px 6px white;

}

#twitter_widget iframe{
  width: 100%;
  height: 100%;
}

.lightwidget_3a3cafecf4 script{
  width: 80%;
  height: 100%;
}

.poundforpound{
  background-image: url("http://www.walleo.co/wp-content/uploads/2016/02/Black-Background-Cool-Wallpapers-TE19O.jpg");
  background-size:cover;
  background-color: gray;
  opacity: 0.85;
  position: relative;
  border-radius: 6px;
  box-shadow: 3px 3px 12px 2px #b71c1c;
  width: 55%;
  height: 35%
  border-radius: 6px;

}

/* mouse over image */
video:hover {
  box-shadow: 9px 9px 12px 6px white;
  width: 100%;
  height: 100%;
}

/* selected image */
video:active {
    color: black;
    width: 100%;
    height: 100%;
}

/* mouse over image */
iframe:hover {
  box-shadow: 9px 9px 12px 6px white;
  width: 100%;
  height: 100%;
}

/* selected image */
iframe:active {
    color: black;
}

img{
    box-shadow: 9px 9px 12px 6px #b71c1c;
}

.comment_header{
  box-shadow: 9px 9px 12px 6px #b71c1c;
}
.pickuser{
  padding-left: 40px;
  opacity: 0.80;
}
#share-buttons img{
  width: 40px;
  height: 50px;
}
#founders img{
  width: 420px;
  height: 400px;
  box-shadow: 6px 6px 8px 4px #b71c1c;
}


.pain img{
  width: 280px;
  height: 240px;
  box-shadow: 6px 6px 16px 4px black;
}
